
<div class="row" id="browse-container-{{ ts }}">
    <div class="col-md-12">
        <div class="card">


            <div class="card-header">
                <h4 class="card-title">Browse / import my files</h4>
                <p class="category">The list below shows files on your computer that you can import into your datasets.</p>
                <div id="browse-controls" class="input-group">
                  <span class="input-group-btn">
                      <button rel="browse-control" data-action="home" class="btn btn-primary" type="button"><i class="fa fa-home"></i> HOME</button>
                      <button rel="browse-control" data-action="back" class="btn btn-primary" type="button"><i class="fa fa-level-up"></i> BACK </button>
                  </span>
                  <input name="path" type="text" class="form-control" value="{{ args.path }}">
                  <span class="input-group-btn">
                      <button rel="browse-control" data-action="go" class="btn btn-primary" type="button"><i class="fa fa-refresh"></i> GO</button>
                      <button class="btn btn-success" type="button"><i class="fa fa-plus"></i> Import selected</button>
                  </span>
                </div>
            </div>


            <div class="card-content row">
                <div class="col-md-6">
                    <div class="panel panel-border panel-default">
                        <h4 class="panel-title">Directories</h4>
                        <div class="panel-body table-responsive table-full-width">
                            <table class="browse-filelist" data-url='/api/filesystem/browse?path={{ args.path | urlencode }}/*&filters=[{"field":"type","op":"eq","val":"dir"}]'></table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-border panel-default">
                        <h4 class="panel-title">Files</h4>
                        <div class="panel-body table-responsive table-full-width">
                            <table class="browse-filelist" data-url='/api/filesystem/browse?path={{ args.path | urlencode }}/*&filters=[{"field":"type","op":"neq","val":"dir"}]'></table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        $(document).ready(function(){
            var $container = $("#browse-container-{{ ts }}");
            var $table = $container.find("table.browse-filelist");
            var $controls = $container.find("[rel='browse-control']");
            var $cur_path = $container.find("#browse-controls input[name='path']");
            var thispath = "{{ args.path }}";
            //var filters = '{{ args.filters | safe }}';

            var filetype_icons = {
                dir: "fa fa-folder-open",
                json: "fa fa-file-code-o",
                R: "fa fa-file-code-o",
                py: "fa fa-file-code-o",
                js: "fa fa-file-code-o",
                jpg: "fa fa-file-image-o",
                gif: "fa fa-file-image-o",
                jpeg: "fa fa-file-image-o",
                tif: "fa fa-file-image-o",
                tiff: "fa fa-file-image-o",
                png: "fa fa-file-image-o",
                mp4: "fa fa-file-video-o",
                avi: "fa fa-file-video-o",
                mpg: "fa fa-file-video-o",
                txt: "fa fa-file-text-o",
                csv: "fa fa-file-text-o",
                tsv: "fa fa-file-text-o",
                pdf: "fa fa-file-pdf-o",
                zip: "fa fa-file-archive-o",
                "*": "fa fa-file-o"
            };

            var typeFormatter = function(value, row, index) {
                var typestr = value.toLowerCase();
                var icon = (filetype_icons.hasOwnProperty(typestr)) ? filetype_icons[typestr] : filetype_icons["*"];
                return '<i class="'+icon+'"></i>';
            };

            var nameFormatter = function(value, row, index){
                return (row.type === "dir")
                    ? '<a href="/ui/synctool/filesystem/browse_files.html?path='+encodeURIComponent(row.path)+'&plugin={{ plugin }}" rel="content">'+value+'</a>'
                    : value;
            };


            $table.bootstrapTable({
                //url: '/api/filesystem/browse?path='+path+'/*&filters='+filters,
                //toolbar: "#project-list .toolbar",
                clickToSelect: true,
                showRefresh: true,
                search: true,
                //showToggle: true,
                showColumns: true,
                sortName: 'name',
                sortOrder: 'asc',
                pagination: true,
                searchAlign: 'left',
                buttonsAlign: 'right',
                pageSize: 10,
                pageList: [10, 50,100],
                icons: { refresh: 'fa fa-refresh', toggle: 'fa fa-th-list', columns: 'fa fa-columns', detailOpen: 'fa fa-plus-circle', detailClose: 'ti-close'},
                columns:[
                    //{field:"state", radio:"true"},
                    {field:"state", checkbox:"true"},
                    {field:"type", sortable:false, title: "<i class='fa fa-file'></i>", formatter:typeFormatter},
                    {field:"name", sortable:true, title:"Name", formatter:nameFormatter},
                    //{field:"type", sortable:true, title:"Type"},
                    //{field:"atime", sortable:true, title:"Accessed"},
                    {field:"ctime", sortable:true, title:"Created"},
                    {field:"mtime", sortable:true, title:"Modified"},
                    //{field:"actions", class:"td-actions text-right", events:operateEvents, formatter:operateFormatter, title:"Actions"}
                ],
                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                formatNoMatches: function(){return "Empty..."},
                onResetView: function(){
                    // enable tooltips
                    $table.find('[rel="tooltip"]').tooltip();

                    // enable content links
                    $table.find("a[rel='content']").click(function(e){
                        e.preventDefault();
                        $container.parent().loadcontent($(this).attr("href"));
                        return false;
                    });
                }
            });

            $controls.click(function(){
                var action = $(this).data("action");
                var newpath = thispath;
                if (action === "home") newpath = "{{ config.HOME_PATH }}";
                else if (action === "back") newpath = path.dirname(thispath);
                else if (action === "go") newpath = $cur_path.val();
                $container.parent().loadcontent("/ui/synctool/filesystem/browse_files.html?path="+encodeURIComponent(newpath));
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });
    </script>
</div>
