<style>
    #file-open-editor {
        width: 100%;
        max-width: 100%;
        min-height: 500px;
        overflow: hidden;
    }
    .file-edit-control {
        padding-bottom: 5px;
    }
</style>

<div id="file-open-{{ ts }}">
{#    <em class="help-text pull-right"><b>NOTE:</b> possible errors are highlighted in <span class="label label-danger">RED</span> below</em>#}
    <div class="file-edit-control">
        <button type="button" class="btn btn-success btn-fill btn-magnify btn-sm btn-square" rel="action" data-action="savevalidate" title="Save changes and view validation results"><i class="fa fa-save"></i> SAVE &amp; VALIDATE</button>
{#        <button type="button" class="btn btn-info btn-fill btn-magnify btn-sm btn-square" rel="action" data-action="validate" title="Save and display validation messages"><i class="fa fa-check-square-o"></i> SAVE &amp; VALIDATE</button>#}
        <button type="button" class="btn btn-default btn-fill btn-magnify btn-sm btn-square" rel="action" data-action="reload" title="Reload the file"><i class="fa fa-refresh"></i> RELOAD FROM DISK</button>
        <button type="button" class="btn btn-warning btn-fill btn-magnify btn-sm btn-square" rel="action" data-action="extopen" title="Open this file in external editor"><i class="fa fa-external-link"></i> EDIT EXTERNALLY</button>
        |
        <button type="button" class="btn btn-danger btn-fill btn-magnify btn-sm btn-square" rel="action" data-action="preverror" title="Jump to previous error"><i class="fa fa-caret-left"></i></button>
        <button id="col-val-info" type="button" class="btn btn-danger btn-fill btn-magnify btn-sm btn-square" title="Column validation info"><i class="fa fa-question"></i></button>
        <button type="button" class="btn btn-danger btn-fill btn-magnify btn-sm btn-square" rel="action" data-action="nexterror" title="Jump to next error"><i class="fa fa-caret-right"></i></button>
        <small id="file-edit-statusmsg"></small>
    </div>

    <div id="file-open-editor"></div>

    <small class="help-block"><b>FILE PATH:</b> {{ args.f }}</small>
{#    <pre>{{ args | topjson }}</pre>#}
    <script>
        function TableEditor ($editor, $status_msg, fpath, fpattern, active_plugin) {

            var _this = this;
            _this.$editor = $editor;
            _this.$status_msg = $status_msg;
            _this.fpath = fpath;
            _this.fpattern = fpattern;
            _this.active_plugin = active_plugin;
            _this.hot = null;
            _this.file_validation_params = {};
            _this.invalid_cell_lookup = {};
            _this.column_validation_info = {};
            _this.matched_column_cache = {};
            _this.is_validated = false;

            this.pystrftime2moment = function(fstr) {
                var convertion = {
                    "%H": "HH",     // hours 24
                    "%I": "hh",     // hours 12
                    "%M": "mm",     // mins
                    "%S": "ss",     // secs
                    "%f": "SSS",    // microseconds
                    "%Z": "ZZ",     // Offset from UTC
                    "%p": "A",      // AM/PM
                    "%Y": "YYYY",   // year with century (eg: 2019)
                    "%y": "YY",     // year without century (eg: 19)
                    "%m": "MM",     // month number (eg: 01)
                    "%b": "MMM",    // month name abbrev (eg: Jan)
                    "%B": "MMMM",   // month name full (eg: January)
                    "%d": "DD",     // day of the month
                    "%a": "ddd",    // week day abbrev. (eg: Mon)
                    "%A": "dddd",   // week day (eg: Monday)
                    "%w": "WW"      // week of year (eg: 1-53)
                };
                var new_fstr = fstr;
                for (var key in convertion) {
                    if (!convertion.hasOwnProperty(key)) continue;
                    new_fstr = new_fstr.replace(new RegExp(key, "g"), convertion[key]);
                }
                return new_fstr;
            };

            function getColumnValidators(prop, file_validation_params) {
                var colheader = prop.data;
                if (file_validation_params.hasOwnProperty(colheader)) {
                    var val_params = file_validation_params[colheader];

                    // Build up custom validators
                    var validators = [];
                    _this.column_validation_info[colheader] = "";
                    if (val_params.hasOwnProperty("type")) {
                        if (val_params.type === "float") {
                            validators.push(function (val) {
                                return val % 1 > 0 || val % 1 < 0;  // valid if - or +, but not if NaN
                            });
                            _this.column_validation_info[colheader] += "Must be a decimal number. ";
                        }
                        else if (val_params.type === "int" || val_params.type === "integer") {
                            validators.push(function (val) {
                                return val % 1 === 0 || val % 1 === -0;  // valid if 0, but -ive yields -0, invalid if NaN
                            });
                            _this.column_validation_info[colheader] += "Must be an integer number. ";
                        }
                        else if (val_params.type === "number") {
                            validators.push(function (val) {
                                return !isNaN(val);
                            });
                            _this.column_validation_info[colheader] += "Must be a number. ";
                        }
                        else if (val_params.type === "datetime") {
                            if (val_params.hasOwnProperty("format")) {
                                var fstr = _this.pystrftime2moment(val_params.format);
                                validators.push(function (val) {
                                    return moment(val, fstr, true).isValid()
                                });
                                _this.column_validation_info[colheader] += "Must be a date/time with format '"+fstr+"'. ";
                            }
                        }
                    }
                    if (val_params.hasOwnProperty("isin")) {
                        validators.push(function (val) {
                            return (val) ? val_params.isin.indexOf(val) >= 0 : false;
                        });
                        prop.editor = "select";
                        prop.selectOptions = val_params.isin;
                        _this.column_validation_info[colheader] += "Must be one of ["+val_params.isin+"] (case sensitive). ";
                    }
                    if (val_params.hasOwnProperty("isini")) {
                        validators.push(function (val) {
                            var isin_lower = val_params.isini.join('|').toLowerCase().split('|');
                            return (val) ? isin_lower.indexOf((val).toLowerCase()) >= 0 : false;
                        });
                        prop.editor = "select";
                        prop.selectOptions = val_params.isini;
                        _this.column_validation_info[colheader] += "Must be one of ["+val_params.isini+"]. ";
                    }
                    if (val_params.hasOwnProperty("range")) {
                        validators.push(function (val) {
                            return val >= val_params.range[0] && val <= val_params.range[1];
                        });
                        _this.column_validation_info[colheader] += "Must in the range of ["+val_params.range+"]. ";
                    }
                    if (val_params.hasOwnProperty("nullable")) {
                        validators.push(function (val) {
                            return val_params['nullable'] || $.trim(val).length !== 0;
                        });
                        if (!val_params['nullable'])  _this.column_validation_info[colheader] += "Can not be empty. ";
                    }
                    if (val_params.hasOwnProperty("match")) {
                        // TODO: match to other data file - this is going to be tricky
                        // validators.push(function(val){return true}); // if valid
                        // validators.push(function(val){return false}); // if invalid
                        var cache_key = val_params.match.leftfile+"__"+val_params.match.leftcol;
                        var match_col_data;
                        if (!_this.matched_column_cache.hasOwnProperty(cache_key)) {
                            $.ajax({
                                type: "POST",
                                url: "/api/filesystem/get_matched_column",
                                data: JSON.stringify({fpath: decodeURIComponent(_this.fpath), match_val_params: val_params.match}),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                async: false,
                                success: function (rdata) {
                                    match_col_data = rdata.data;
                                    //alert("Loaded!");
                                }
                            }).fail(function (jqxhr, textStatus, errorThrown) {
                                bsnotify.error("ERROR! matching column: " + errorThrown);
                            });
                        }
                        else {
                            match_col_data = _this.matched_column_cache[cache_key]['data'];
                        }
                        validators.push(function (val) {
                            return (val) ? match_col_data.indexOf(val) >= 0 : false;
                            //return $.inArray(val, match_col_data) > 0;
                        });
                        prop.editor = "select";
                        prop.selectOptions = match_col_data;
                        _this.column_validation_info[colheader] += "Needs to match an entry in the '"+
                            val_params.match.leftcol+"' column from the '"+val_params.match.leftfile+"' file. ";
                    }

                    // Create custom validator
                    if (validators.length > 0 && !prop.hasOwnProperty("type")) {
                        //console.log(colheader+" validators: "+validators.length);
                        prop.validator = function (val, callback) {
                            for (var i = 0; i < validators.length; i++) {
                                if (!validators[i](val)) {
                                    callback(false);                            // return an error if failed any validation tests
                                    return;
                                }
                            }
                            callback(true);                                     // return ok if passed all tests
                        }
                    }
                }
                return prop;
            }

            function getColumns() {
                var columns = [];
                $.each(_this.headers, function(i, c){
                    var prop = {data: c};
                    columns.push(getColumnValidators(prop, _this.file_validation_params));
                });
                return columns;
            }

            this.save = function(success) {
                return _this.save_as(decodeURIComponent(_this.fpath), _this.delimiter, _this.headers, success);
            };

            this.save_as = function(fpath, delimiter, headers, success) {
                var data = _this.hot.getData();
                // get data and clean out empty rows
                //console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/api/datafile/save",
                    data: JSON.stringify({ data: data, f:fpath, delimiter:delimiter, headers:headers }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(rdata){
                        bsnotify.success(rdata.message);
                        if (typeof success === "function") success(fpath);
                    }
                }).fail(function(jqxhr, textStatus, errorThrown){
                    bsnotify.error("ERROR! Unable to save file: "+errorThrown);
                });
                return _this;
            };

            this.validate = function(on_ok, on_cancel) {
                $.ajax({
                    type: "POST",
                    url: "/api/"+_this.active_plugin+"/validate_file",
                    data: JSON.stringify({fpath: decodeURIComponent(_this.fpath), val_params: _this.file_validation_params}),
                    dataType:"json",
                    contentType:"application/json",
                    success: function(validation_result){
                        var $val_list = $("<div class='text-left small well well-sm'>");
                        var $validation_container = $("<div>").append($val_list);
                        if (validation_result.errors.length <=0 && validation_result.warnings <=0){
                            $val_list.append("<i class='text-success fa fa-check'></i> All is good! No errors were detected.");
                        }
                        else {
                            $.each(validation_result.errors, function(i,m){
                                $val_list.append("<i class='text-danger fa fa-exclamation-triangle'></i> "+m+"<br>");
                            });
                            $.each(validation_result.warnings, function(i,m){
                                $val_list.append("<i class='text-warning fa fa-exclamation-triangle'></i> "+m+"<br>");
                            });
                        }
                        swalert($validation_container.html(), {type:"info", title:"Extended validation results",
                            cancelButtonText:"Continue editing", confirmButtonText:"Close editor", on_ok: on_ok,
                            on_canel: on_cancel, cancelButtonClass: 'btn btn-info btn-fill'});

                    }
                });
                return _this;
            };

            this.jump_to_error = function(dir) {
                var coords = _this.hot.getSelectedLast();
                if (typeof coords === "undefined")
                    coords=[_this.hot.countRows()-1, _this.hot.countCols()-1, 0, 0];
                var cur_row = (dir > 0) ? coords[2] : coords[0];
                var cur_col = (dir > 0) ? coords[3] : coords[1];
                //var cells = _this.hot.getCellsMeta();    // NOTE: this is too slow for large files, so using the self managed list of validation errors
                var cells = [], include_cell=false;
                $.each(_this.invalid_cell_lookup, function(key, cell){
                    // filter invalid cells that are either before or after the current one (depending on the jump direction)
                    if ((dir > 0)
                        ? (cell.row > cur_row && cell.col >= cur_col) || (cell.row <= cur_row && cell.col > cur_col)
                        : (cell.row < cur_row && cell.col <= cur_col) || (cell.row >= cur_row && cell.col < cur_col))
                        cells.push(cell);
                });
                /*
                cells.filter(function(cell){
                    return (dir > 0)
                        ? (cell.row > cur_row && cell.col >= cur_col) || (cell.row <= cur_row && cell.col > cur_col)
                        : (cell.row < cur_row && cell.col <= cur_col) || (cell.row >= cur_row && cell.col < cur_col);
                });
                */
                cells.sort(function(a,b) {
                    return (dir > 0)
                        ? a.col - b.col || a.row - b.row
                        : b.col - a.col || b.row - a.row;
                });

                console.log(cells, _this.invalid_cell_lookup);
                if (cells.length > 0)
                    _this.hot.selectCell(cells[0].row, cells[0].col);
            };

            this.get_validation_errors = function() {
                return _this.hot.getCellsMeta().filter(function(cell){
                    return cell.valid === false;
                });
            };

            function update_status_msg(nerrors) {
                if (nerrors > 0) {
                    _this.$status_msg.html('<i class="fa fa-exclamation-triangle"></i> Detected <b>'+ nerrors+
                        '</b> error'+((nerrors>1)?'s':'')+': highlighted in <b class="text-danger">red</b>.')
                }
                else {
                    _this.$status_msg.html('<i class="fa fa-check"></i> No errors detected.');
                }
            }

            this.build_table = function () {
                console.log(_this.fpath);
                $.getJSON("/api/datafile/open?format=dict&f="+encodeURIComponent(_this.fpath), function(data){
                    $.getJSON("/api/"+_this.active_plugin+"/get_validation_params?pattern="+encodeURIComponent(_this.fpattern), function(file_validation_params){
                        _this.file_validation_params = file_validation_params;

                    }).fail(function(jxqr, status, msg){
                        bsnotify.error("Unable to load file validation information...");
                    }).always(function(){
                        var table_data = data.data;
                        _this.delimiter = data.delimiter;
                        _this.headers = data.columns;
                        _this.hot = new Handsontable(_this.$editor[0], {
                            data: table_data,
                            rowHeaders: true,
                            colHeaders: _this.headers,
                            contextMenu: true,
                            comments: false,
                            columnSorting: true,
                            columns: getColumns(_this.headers),
                            minSpareRows: 0,
                            minSpareCols: 0,
                            outsideClickDeselects: false,
                            afterValidate: function (isValid, value, row, prop, source) {
                                var col = this.propToCol(prop);
                                if (!isValid)
                                    _this.invalid_cell_lookup[row+"."+col] = {row:row, col:col}; //, value:value}
                                else if (_this.invalid_cell_lookup.hasOwnProperty(row+"."+col))
                                    delete _this.invalid_cell_lookup[row+"."+col];

                                // if it has been validated, the do the cell by cell update
                                if (_this.is_validated)
                                    update_status_msg(Object.keys(_this.invalid_cell_lookup).length);
                            }
                        });
                        _this.$status_msg.html('<i class="fa fa-circle-o-notch fa-spin"></i> validating...');
                        _this.hot.validateCells(function(){
                            update_status_msg(Object.keys(_this.invalid_cell_lookup).length);
                            _this.is_validated = true;
                        });
                        console.log(_this.column_validation_info);
                    });
                }).fail(function(jxqr, status, msg){
                    console.log(jxqr, status, msg);
                    var response = jxqr.hasOwnProperty("responseJSON") ? (jxqr.responseJSON.hasOwnProperty("message") ? jxqr.responseJSON.message : jxqr.responseText) : jxqr.responseText;
                    _this.$editor.html("<div class='alert alert-danger'><i class='fa fa-exclamation-triangle'></i> ERROR: Could not load content! Try fixing with external editor.<br><small>"+msg+": "+response+"</small></div>");
                });
                return _this;
            };

            return _this;
        }


    //var table_editor = null;


    $(document).ready(function(){
        var $container = $("#file-open-{{ ts }}");
        var $editor = $container.find("#file-open-editor");
        var $actions = $container.find("[rel='action']");
        var $modal = $container.parents(".modal.in");
        var $col_val_info_btn = $container.find("#col-val-info");
        var $status_msg = $container.find("#file-edit-statusmsg");


        {#//console.log(JSON.parse("{{ data | tojson }}"));#}
        //var invalid_cells = [];

        $editor.height($(window).height()-120);
        $editor.html($('<div>').css({'text-align':'center','padding':'50px 0 50px 0'}).append('<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><br>loading...'));


        var table_editor = new TableEditor($editor, $status_msg, decodeURIComponent("{{ args.f | urlencode }}"), "{{ args.p }}", "{{ plugin }}").build_table();
        //table_editor = new TableEditor($editor, "{{ args.f }}", "{{ args.p }}").build_table();

        $col_val_info_btn.tooltip({placement:"bottom"}).popover({
            html:true,
            placement:"bottom",
            content:function(){
                $col_val_info_btn.tooltip("hide");
                var $table = $("<ul class='small'>");
                $.each(table_editor.column_validation_info, function(k,v){
                    $table.append($("<li><b>"+k+":</b>&nbsp;"+v+"</li>"))
                });
                return $table;
            }
        });

        $actions.click(function(e){
            var action = $(this).data("action");
            if (action === "savevalidate") {
                table_editor.save(function(fpath){
                    table_editor.validate(function(){
                        $modal.trigger("completed", null);
                    });
                });
            }
            else if (action === "extopen") {
                extgui.open_warning("/open/file?path={{ args.f | urlencode }}");
            }
            else if (action === "reload") {
                $modal.trigger("reload");
            }
            else if (action === "nexterror") {
                table_editor.jump_to_error(+1);
            }
            else if (action === "preverror") {
                table_editor.jump_to_error(-1);
            }
        }).tooltip({placement:"bottom"});
    });
    </script>
</div>