<style>
    .filelink-on .filelink-src.active {
        {#background-color: red;#}
        {#animation: Pulsate 0.9s linear infinite;#}
    }
    .filelink-dest {
        display: none;
    }
    .filelink-on .filelink-dest {
        display: inherit;
        {#animation: Pulsate 0.9s linear infinite;#}
    }
    .filelink-on .filelink-on-hidden {
        display: none;
    }

    @keyframes Pulsate {
      from { opacity: 1; }
      50% { opacity: 0.5; }
      to { opacity: 1; }
    }
</style>
<div id="verify-media-links-{{ ts }}">

{#    <div data-notify="container" class="alert alert-with-icon alert-info" style="display: inline-block; width: 50%; margin: 0px auto; position: fixed; -webkit-transform: translateZ(0); transition: all 0.5s ease-in-out 0s; z-index: 1090; top: 20px; left: 0px; right: 0px;">#}
{#        <button type="button" aria-hidden="true" class="btn btn-danger btn-sm btn-fill pull-right" style="position: absolute; right: 10px; top: 20px; margin-top: -6px; z-index: 1092;">CANCEL</button>#}
{#        <span data-notify="icon" class="fa fa-link"></span> <span data-notify="message" data-notify="title"></span> <span>Please select a file in the 'Metadata list' below to link this file to a record</span>#}
{#    </div>#}
<div class="pull-right btn-group-sm">
<a href="/open/file?path={{ data.media_dir | urlencode }}" rel="gui_warn" class="btn btn-fill btn-warning" title="Open/view folder"><i class="fa fa-external-link"></i> OPEN DIR EXTERNALLY</a>
{#<button onclick="bsnotify.error('Not implemented yet... This will delete unlinked files from the project')" class="btn btn-danger btn-fill" title="Purge unlinked files"><i class="fa fa-trash"></i> PURGE UNLINKED</button>#}
<button rel="import-directory" class="btn btn-success btn-fill" title="Import/link files from directory"><i class="fa fa-folder-open"></i> IMPORT DIRECTORY</button>
</div>
<h2>Media & Metadata</h2>
<h3>Unlinked files</h3>
<p>
    <i class="fa fa-info-circle"></i> Click <small class="text-success"><b><i class="fa fa-link"></i> LINK</b></small>
    to link the file to a metadata record.
    Unlinked files are files that have been imported into the 'media' directory, but
    are not linked to a metadata entry.
</p>
{% if data.n_mismatches_in_dir > 0 %}
<p>
    <b class="text-danger"><i class="fa fa-exclamation-triangle"></i> WARNING:</b> Unlinked files
    need to be linked to a metadata entry or removed. Leaving them unlinked will cause them to be uploaded, but they
    will not be useable as they will not have any metadata. This increases your required upload size and
    consumes unnecessary storage on the online repository.
</p>
{% endif %}
{% if data.mismatch_in_dir %}
<div class="well well-sm text-centre">
<ol style="-moz-column-count: 3;-moz-column-gap: 20px;-webkit-column-count: 3;-webkit-column-gap: 20px;column-count: 3;column-gap: 20px;">
    {% for f in data.mismatch_in_dir %}
    <li>
        <a href="javascript:void(0)" title="Link to metadata entry below" type="button" class="text-success filelink-src" rel="file-src" data-filename="{{ f.filename }}" data-file="{{ f.path}}"><i class="fa fa-link"></i> LINK | </a>
        <a href="/open/file?path={{ f.target_path | urlencode }}" rel="gui">{{ f.filename }}</a>
        <a href="javascript:void(0)" data-endpoint="/api/{{ plugin }}/fileop?path={{ f.path | urlencode }}&op=rm" rel="file-remove" class="text-danger  filelink-on-hidden" title="Remove unlinked project file (not original file)"> | <i class="fa fa-trash"></i></a>
    </li>
    {% endfor %}
</ol>
</div>
{% else %}
    <div class="well text-centre"><i class="fa fa-check-square text-success"></i> There are no unlinked files in the
        'media' directory... To import files, click the <b>IMPORT DIRECTORY</b> button (top right).</div>
{% endif %}

<h3 id="metadata-file-list">Metadata file list:</h3>
<table class="table table-striped table-responsive table-sm">
    <thead>
    <tr>
        <th>#</th>
        <th>Sample</th>
        <th>Filename</th>
        <th>Linked?</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>Dep</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data.data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ d.Sample }}</td>
            <td>
                <button title="Link selected file to this record" type="button" class="btn btn-xs btn-danger btn-icon btn-fill filelink-dest" rel="file-dest" data-file="{{ d._path }}"><i class="fa fa-link"></i></button>
                {% if d._is_linked %}
                    <a href="/open/file?path={{ d._target_path | urlencode }}" rel="gui">{{ d.filename }}</a>
                {% else %}
                    {{ d.filename }}
                {% endif %}
            </td>
            <td>
                {% if d._is_linked %}
                    <b class="text-success"><i class="fa fa-check"></i> YES</b>
                    <a title="Unlink file from this record" class="text-warning filelink-on-hidden" href="javascript:void(0)" rel="file-unlink" data-filename="{{ d.filename }}"> | <i class="fa fa-chain-broken"></i> Unlink</a>
                {% else %}
                    <b class="text-danger"><i class="fa fa-times"></i> NO</b>
                    <a href="javascript:void(0)" class="text-success filelink-on-hidden" title="Manually locate file to import and link" rel="file-locate" data-file="{{ d._path }}"> | <i class="fa fa-search"></i> Locate</a>
                {% endif %}
            </td>
            <td>{{ d.Latitude }}</td>
            <td>{{ d.Longitude }}</td>
            <td>{{ d.Depth }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{#<pre>{{ data | topjson }}</pre>#}
<script>
    $(document).ready(function(){
        var $container = $("#verify-media-links-{{ ts }}");
        var $modal = $container.parents(".modal.in");
        var $metadata_file_list = $container.find("#metadata-file-list");


        function set_link_source(e) {
            e.preventDefault();
            $container.addClass("filelink-on");
            $(this).addClass("active");
            $container.find(".filelink-src:not(.active)").addClass('disabled');
            // scroll to table
            $modal.animate({ scrollTop: $metadata_file_list.position().top }, 'slow');
            //$modal_content.scrollTop($modal_content.scrollTop() + $metadata_file_list.position().top);
            $container.data("file-src", $(this).data("file"));
            var notify_options = {
                onClosed: clear_link_source,
                delay: 0,
                placement: {from: "top", align: "center"},
                //animate: {enter:null, exit:null}
            };
            $container.data("notify", bsnotify.warning("<b>LINK '"+$(this).data("filename")+"' FILE:</b> Click " +
                "<button class='btn btn-xs btn-danger btn-icon btn-fill'><i class='fa fa-link'></i></button> to link " +
                "this file to a record", notify_options));
            console.log($container.data("notify"));
        }

        function clear_link_source() {
            if ($container.hasClass("filelink-on")) {
                console.log("Clearing linker data...");
                $container.removeClass("filelink-on");
                $container.data("file-src", null);
                $container.find(".filelink-src").attr('disabled', false);
                $container.find(".filelink-src.active").removeClass('active');
                if ($container.data("notify").$ele.is(":visible"))
                    $container.data("notify").close();
            }
        }

        function link_files(e) {
            e.preventDefault();
            var dest = $(this).data("file");
            var src = $container.data("file-src");
            extgui.bgprocess("/api/{{ plugin }}/fileop?path="+encodeURIComponent(src)+"&dest="+encodeURIComponent(dest)+"&op=mv", function(){
                $modal.trigger("reload");
            });
            clear_link_source();
        }

        function locate_file(e) {
            e.preventDefault();
            var dest = $(this).data("file");
            extgui.bgprocess("/modal/file?file_type="+encodeURIComponent("All files (*.*)"), function(data){
                extgui.bgprocess("/api/{{ plugin }}/fileop?path="+encodeURIComponent(data.selected_file)+"&dest="+encodeURIComponent(dest)+"&op=ln", function(){
                    $modal.trigger("reload");
                });
            });
        }

        function unlink_file(e) {
            e.preventDefault();
            var src = decodeURIComponent("{{ data.media_dir | urlencode}}")+$(this).data("filename");
            var dest = decodeURIComponent("{{ data.media_dir  | urlencode}}")+"unlinked__"+$(this).data("filename");
            extgui.bgprocess("/api/{{ plugin }}/fileop?path="+encodeURIComponent(src)+"&dest="+encodeURIComponent(dest)+"&op=mv", function(){
                $modal.trigger("reload");
            });
            clear_link_source();
        }

        function import_directory(e) {
            e.preventDefault();
            extgui.bgprocess("/modal/file", function(data1){
                extgui.bgprocess("/api/{{ plugin }}/add_media_files?origin="+encodeURIComponent(data1.selected_file)+"&campaign_path={{ data.campaign_path | urlencode }}", function(data2){
                    bsnotify.success("All files in directory have been linked!");
                    $modal.trigger("reload");
                });
            });
        }


        $container.find("[rel='file-src']").click(set_link_source).tooltip({placement:"right"});
        $container.find("[rel='file-dest']").click(link_files).tooltip({placement:"left"});
        $container.find("[rel='file-locate']").click(locate_file).tooltip({placement:"right"});
        $container.find("[rel='file-unlink']").click(unlink_file).tooltip({placement:"right"});
        $container.find("[rel='import-directory']").click(import_directory).tooltip({placement:"bottom"});
        $container.find("[rel='file-remove']").data("success",function(){$modal.trigger("reload")}).click(link_click_handler.bgprocess).tooltip({placement:"right"});


        //console.log(JSON.parse('{{ data | tojson }}'));
    });
</script>