<div id="campaign-view-container-{{ ts }}">
<style>
    #campaign-map {
        height: 500px;
        min-height: 500px;
        border-radius: 10px;
        padding: 30px;
        background-color: #00a4d3;
        color: #fff;
    }
</style>
{% if data %}
    <div id="campaign_view_local_errors" class="alert alert-danger">
        <h4><i class="ti-alert"></i> Error(s):</h4>
        <ol>

        </ol>
    </div>
    <div id="campaign_view_local_warnings" class="alert alert-info">
        <h4><i class="ti-alert"></i> Warnings(s):</h4>
        <ol>

        </ol>
    </div>
{#<div class="container">#}
    <span class="pull-right">
        <button class="btn btn-primary" data-action="upload-staging">UPLOAD TO STAGING</button>
    </span>

    <p>
        <span class="category">Campaign name:</span>
        <big><b class="data-field" data-field="name"></b></big>
    </p>
    <p>
        <span class="category">Description:</span>
        <span class="data-field" data-field="description"></span>
    </p>
    <p>
        <span class="category">Project:</span>
        <span class="data-field" data-field="project.name"></span>
    </p>
    <p>
        <span class="category">Platform:</span>
        <span class="data-field" data-field="platform.name"></span>
    </p>
    <p>
        <span class="category">Upload type:</span>
        <span class="data-field" data-field="upload_type"></span>
    </p>

    <p>
        <span class="category">Metadata:</span>
{#        <a href="javascript:void(0)">SHOW/HIDE</a>#}
    </p>
    <table id="" class="table table-hover table-sm">
        <thead>
        <tr><td>Filename (derived)</td><td>Matched pattern</td><td class="text-right">Status / Actions</td></tr>
        </thead>
        <tbody id="campaign-local-metadata">
        </tbody>
    </table>

    <p>
        <span class="category">Media:</span>
{#        <a href="javascript:void(0)">SHOW/HIDE</a>#}
    </p>
    <table class="table table-hover table-responsive-sm">
        <thead>
        <tr><td>Filename (derived)</td><td>Info</td><td class="text-right">Status / Actions</td></tr>
        </thead>
        <tbody id="campaign-local-media"></tbody>
    </table>

    <p>
        <span class="category">Deployment map</span>
    </p>
    <div id="campaign-map"></div>

    <hr>

    <p>
        <small>
            <b>Data path:</b> <span class="data-field" data-field="path"></span><br>
            <b>Original source:</b> <span class="data-field" data-field="import_origin"></span>
        </small>
    </p>

    <script>
    $(document).ready(function(){
        var $edit_container = $("#campaign-view-container-{{ ts }}");
        var $datafile_list = $edit_container.find("#campaign-local-metadata");
        var $mediadir_list = $edit_container.find("#campaign-local-media");
        //var metadata_files = JSON.parse('{{ data.metadata | tojson }}');
        //var media_dirs = JSON.parse('{{ data.media | tojson }}');
        var $map = $edit_container.find("#campaign-map");
        var $data_fields = $edit_container.find(".data-field");
        var $error_container = $edit_container.find("#campaign_view_local_errors").hide();
        var $warnings_container = $edit_container.find("#campaign_view_local_warnings").hide();
        var $btn_upload_staging = $edit_container.find("[data-action='upload-staging']");

        var campaigndata = JSON.parse('{{ data | tojson }}');
        console.log(campaigndata);


        $btn_upload_staging.click(function(){
            $.getJSON("/api/{{ plugin }}/sftp?method=upload&source="+encodeURIComponent(campaigndata.path), function(data){
                console.log(data);
            }).fail(function(i,j,k){
                console.log(i,j,k);
            })
        });

        // Object for referencing special file methods.
        //  - key: file pattern
        //  - val: function method(file_path) to call
        var special_file_methods = {
            "*_Metadata.csv": init_map
        };

        function update_data(data) {
            // update data fields
            $data_fields.each(function(i,el){
                var value = data;
                var fields = $(el).data("field").split(".");        // split fields by "."
                $(fields).each(function(j,f){value = value[f]});    // access nested values
                $(el).html(value);                                  // set field with value
            });

            // Update metadata table
            update_datafile_list(data.metadata, $datafile_list);

            // Update media table
            update_datafile_list(data.media, $mediadir_list, true);
            //update_mediadir_list(data.media, $mediadir_list);

            // Update errors
            var $error_list = $error_container.hide().find("ol").html("");
            if (data.errors.length > 0 ) {
                $(data.errors).each(function (i, er) {$error_list.append("<li>" + er + "</li>")});
                $error_container.show();
            }

            // Update errors
            var $warning_list = $warnings_container.hide().find("ol").html("");
            if (data.warnings.length > 0 ) {
                $(data.warnings).each(function (i, er) {$warning_list.append("<li>" + er + "</li>")});
                $warnings_container.show();
            }
        }


        /**
         *
         * @param file_list
         * @param $list_container
         */
        function update_datafile_list(file_list, $list_container, is_media) {
            if (typeof is_media === "undefined") is_media = false;
            $list_container.html("");
            $(file_list).each(function(i,el){
                var $icon = $("<i class='ti-"+el.type+"'> </i>");
                var $info = $("<button class='btn btn-icon btn-simple'><i class='ti-info-alt'></i></button>").tooltip({title:"More Info",placement:"right"});
                var $view = $("<button class='btn btn-icon btn-simple'><i class='ti-view-list-alt'></i></button>").tooltip({title:"Quick view",placement:"right"});
                var $open = $("<button class='btn btn-icon btn-simple'><i class='ti-pencil-alt'></i></button>").tooltip({title:"Default External Editor",placement:"right"});
                var $status = $('<a href="javascript:void(0)" class="label label-success"><i class="ti-check"></i> OK</a>').tooltip({title:"This file passes all tests.", placement:"left"});
                var $data = (!is_media)
                    ? $("<span>"+el.pattern+"</span>")
                    : $("<span><b>"+el.n_files+"</b> files found<br><b class='text-success'>"+el.n_matches+"</b> files matched<br><b class='text-danger'>"+(el.n_mismatches_in_file)+"</b> not found/matched</span>");
                if (el.errors.length > 0 || el.warnings.length > 0) {
                    $status = $('<a href="javascript:void(0)" class="label label-danger"><i class="ti-alert"></i> Error(s)</a>')
                        .tooltip({title:"Validation error(s). Click for more.", placement:"left"})
                        .popover({
                            html: true,
                            content:function(){
                                var $msgs = $("<div>");
                                if (el.errors.length > 0 ) {
                                    var $errormsg = $("<div class='text-danger'>ERROR(S):<br></div>").appendTo($msgs);
                                    $(el.errors).each(function (j, er) {
                                        $errormsg.append($('<div><i class="ti-alert"></i>&nbsp;' + er + "</div>"));
                                    });
                                }
                                if (el.warnings.length > 0) {
                                    var $warningmsg = $("<div class='text-info'>WARNING(S):<br></div>").appendTo($msgs);
                                    $(el.warnings).each(function (j, er) {
                                        $warningmsg.append($('<div><i class="ti-alert"></i>&nbsp;' + er + "</div>"));
                                    });
                                }
                                return $msgs;
                            },
                            placement:"top"
                        });
                }
                var $tr = $("<tr>").append(
                    $("<td>").append($icon, $("<span>"+((el.name) ? el.name: "-")+"</span>")),
                    $("<td>").append($data),
                    $("<td class='text-right'>").append($status, $info, $view, $open)
                );
                //console.log($tr.text());
                $list_container.append($tr);
                //console.log($list_container);
                $open.click(function(){
                    if (el.matched.length > 0) $.get("/open/file?path="+encodeURIComponent(el.matched[0]));
                });
                $view.click(function(){
                    var file_path = (is_media) ? el.mismatch_file : (el.matched.length > 0) ? el.matched[0] : null;
                    if (file_path)
                        bsmodal("/ui/synctool/filesystem/file_edit.html?f="+encodeURIComponent(file_path)+"&plugin={{ plugin }}", {onhidden: function(){
                            if ($(".modal.in").length > 0)
                                $("body").addClass("modal-open");  // to ensure we still have the original modal open
                            }, modal_class: "modal-full"
                        });
                });
                $info.popover({html:true,placement:"left",trigger:"click",content:function(){
                    return ""+ //"<div class='well well-sm' style='overflow:auto'>"+
                       "<div  style='overflow:auto; font-size:small'><b>Pattern:</b> "+el.pattern +
                       "<br><br><b>Origin:</b> "+el.origin +
                       "<br><br><b>Current:</b> "+el.path +
                       "</div>"; //</div>";
                    }
                });

                // map
                if (special_file_methods.hasOwnProperty(el.pattern))
                    special_file_methods[el.pattern](el.path);
            });
        }



        /**
         *
         * @param file_path
         */
        function init_map(file_path) {
            var metadata_parseable = false;
            var deployment_count = 0;
            $.getJSON("/api/datafile/open?format=dict&f="+encodeURIComponent(file_path), function(filedata){
                var data = filedata.data;
                deployment_count = data.length;

                if (deployment_count > 0) {
                    var baselayer = new L.tileLayer('http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}', {
                        maxZoom: 18,
                        maxNativeZoom: 10,
                        attribution: "ESRI Oceans"
                    });
                    var map = new L.map($map.attr("id"), {
                        center: L.LatLng(data[0].Latitude, data[0].Longitude),
                        zoom: 13,
                        layers: [baselayer]
                    });

                    var markers = [];
                    for (var i = 0; i < data.length; i++) {
                        var a = data[i];
                        var popupinfo = "";
                        $.each(a, function (k, v) {
                            popupinfo += "<b>" + k + "</b>: " + v + "<br>";
                        });

                        markers.push(new L.CircleMarker([a.Latitude, a.Longitude],
                            {color: '#000', fillColor: 'green', fillOpacity: 0.3, weight: 1}
                        ).bindPopup(popupinfo));
                    }
                    var group = new L.featureGroup(markers);
                    group.addTo(map);
                    map.fitBounds(group.getBounds());
                    metadata_parseable = true;
                }
                else {
                    $map.html("No deployments found in metadata file to show on map...");
                }
            }).always(function(){
                //addDataStatus("metadata_parseable", metadata_parseable);
                //addDataStatus("deployment_count_local", deployment_count);
            });
        }

        //update_list(metadata_files, $metadata_list);
        update_data(campaigndata);
    });
    </script>
{#</div>#}
{% else %}
    Nothing here yet...
{% endif %}
</div>