<div id="project-container-{{ ts }}">
{% if data %}
    {% if data.error %}
        <div class="well well-sm text-danger"><i class="fa fa-exclamation-triangle"></i> {{ data.message }}</div>
    {% else %}
        <small>
            <b>Campaign:</b> <em>{{ data.name }}</em>
            <br><b>Description:</b> <em>{{ data.description }}</em>
            <br><b>Project:</b> <em>{{ data.project.name }}</em>
            <br><b>Platform:</b> <em>{{ data.platform.name }}</em>
            <br><b>Created at:</b> <em>{{ data.created_at }}</em>
            <br><b>Created by:</b> <em>{{ data.user.first_name }} {{ data.user.last_name }} ({{ data.user.email }})</em>
            <hr>
            <div>
                <a href="javascript:void(0)" onclick="$(this).siblings('table').toggle()">
                    <i class="fa fa-file"></i>
                    <b>Files:</b>
                    <em>Show/hide {{ data.files | length }} files</em>
                    <i class="fa fa-caret-down"></i>
                </a>
                <table class="table table-striped table-sm table-responsive" style="word-break: break-word; display: none;">
                {% for f in data.files %}
                    <tr><td>{{ f.name }}</td></tr>
                {% endfor %}
                </table>
            </div>
            <hr>
            <div>
                <a href="javascript:void(0)" onclick="$(this).siblings('ul').toggle()">
                    <i class="fa fa-info-circle"></i>
                    <b>Supplementary campaign info:</b>
                    <em>Show/hide {{ data.info | length }} entries</em>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul>
                    {% if data.info %}
                    {% for i in data.info %}
                        <li><b>{{ i.property.name }}</b>: {{ i.value }}</li>
                    {% endfor %}
                    {% else %}
                        <li>There are no entries. Click the button below to edit this record online in GlobalArchive to add supplementary info.</li>
                    {% endif %}
                </ul>
            </div>
            <hr>
        </small>
        <a href="{{ data._online_url }}" target="_blank" class="btn btn-success btn-fill btn-rotate form-control"><i class="fa fa-external-link"></i> VIEW/EDIT: <small>in GlobalArchive</small></a>
        <a href="javascript:void(0)" rel="action" data-action="sync" class="btn btn-fill btn-rotate btn-info form-control" title="Sync meta data to cloud platform"><i class="fa fa-cloud-upload"></i> SYNC: <small>with GlobalArchive</small></a>
    {% endif %}
    <a href="/api/{{ plugin }}/fileop?path={{ data._syncstat_path }}&op=rm" class="btn btn-danger btn-fill btn-rotate form-control" rel="bgprocess"><i class="fa fa-chain-broken"></i> UNLINK: <small>with record in GlobalArchive</small></a>
{% else %}
    <div style="padding: 50px 10px;"><i class="fa fa-exclamation-triangle"></i> This dataset has not been synced yet, so there is no online record
        at this time. Fix any errors in the dataset and then click the "SYNC" button above to push this dataset to your
        selected online platform</div>
    <a href="javascript:void(0)" rel="action" data-action="sync" class="btn btn-fill btn-info btn-rotate form-control" title="Sync meta data to cloud platform"><i class="fa fa-cloud-upload"></i> SYNC NEW: <small>record to GlobalArchive</small></a>
    <a href="#" onclick="bsnotify.error('Not implemented yet. This will search existing records for a link...')" class="btn btn-warning btn-fill btn-rotate form-control"><i class="fa fa-link"></i> LINK TO: <small>existing record in GlobalArchive</small></a>
{% endif %}
</div>
<script>
    $(document).ready(function(){
        var $container = $("#project-container-{{ ts }}");
        var $modal = $container.parents(".modal.in");
        $container.find("[rel='bgprocess']").data("success", function(){$modal.trigger("reload")});
    });
</script>