{% with data=data or {} %}
<div id="campaign-edit-container-{{ ts }}">
    <form id="campaign-form" class="form-horizontal" method="post" onsubmit="return false">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Site name
                        <em class="small">(Campaign)</em>
                    </label>
                    <div class="col-sm-8">
                        <input class="form-control valid" type="text" name="site_name" value="{{ data.site_name }}" required="required" placeholder="eg: Site Name">
                        <input type="hidden" name="campaign_id" value="" data-platform="globalarchive1">
                        <input type="hidden" name="import_origin"  value="{{ data.import_origin }}">
                        <input type="hidden" name="path"  value="{{ data.path }}">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Start date
                        <em class="small">(Campaign)</em>
                    </label>
                    <div class="col-sm-8">
                        <input class="form-control valid" type="text" name="start_date" value="{{ data.start_date }}" required="required" placeholder="eg: YYYY-MM-DD">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Description
                    </label>
                    <div class="col-sm-8">
                        <textarea name="description" class="form-control valid" size="7" placeholder="Short description of Campaign (optional)">{{ data.description }}</textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Project
                    </label>
                    <div class="col-sm-8">
                        <select name="project_id" data-value="{% if data.project %}{{ data.project.id }}{% endif %}" required="required" class="form-control valid" title="Select a Project">

                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btn-square btn-fill" title="Add new project" data-action="newproject"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Platform
                    </label>
                    <div class="col-sm-8">
                        <select name="platform_id" data-value="{% if data.platform %}{{ data.platform.id }}{% endif %}" required="required" class="form-control valid" title="Select a Platform"></select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Upload type
                    </label>
                    <div class="col-sm-8">
                        <select name="_upload_type" data-value="{{ data.upload_type }}" required="required" class="form-control valid" title="Select an upload type"></select>
                    </div>
                </div>
            </fieldset>

            <hr>

            <div id="campaign-file-selection-container">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Auto-import:
                        </label>
                        <div class="col-sm-8">
                            <small class="help-block">Select a folder to attempt auto-import, or leave this blank and select files manually</small>
                            <div class="input-group">
                                <input class="form-control valid" type="text" name="directory" value="{{ data.import_origin }}" placeholder="select a directory and attempt magical automatic selection">
                                <a href="javascript:void(0)" id="campaign-form-folder-dialog-btn" class="input-group-addon"><i class="ti-folder"></i></a>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Metadata</label>
                        <div class="col-sm-8" id="campaign-form-files">
                            <small class="help-block">Select upload type</small>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Media</label>
                        <div class="col-sm-8">
                            <div class="help-block small">Import linked media files from selected directory</div>
                            <div id="campaign-form-folders"></div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <fieldset>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="button" class="btn btn-primary btn-fill" data-action="refresh">Refresh</button>
                        <button type="submit" class="btn btn-info btn-fill pull-right">Save</button>

                    </div>
                </div>
            </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function(){

            var $container = $("#campaign-edit-container-{{ ts }}");
            var $modal = $container.parents(".modal");
            var $form = $container.find('#campaign-form');
            var $project_select = $form.find("select[name='project_id']");
            var $platform_select = $form.find("select[name='platform_id']");
            var $upload_type_select = $form.find("select[name='_upload_type']");
            var $file_list = $form.find("#campaign-form-files");
            var $folder_list = $form.find("#campaign-form-folders");
            var $import_folder_btn = $form.find("#campaign-form-folder-dialog-btn");
            var $import_folder = $form.find("[name='directory']");
            var $campaign_path = $form.find("[name='path']");
            var $file_selection_container = $container.find("#campaign-file-selection-container").hide();


            $container.find("[data-action='refresh']").click(function(){
                $modal.trigger("reload");
            });
            $container.find("[data-action='newproject']").click(function(){
                window.open('https://globalarchive.org/geodata/data/project', 'GAProjects');
                bsnotify.error('This is not implemented yet... for now you can create directly on GA and then refresh this form when done.',{delay:false});
            });

            $container.find("input[name='start_date']").datetimepicker({format: 'YYYY-MM-DD'});

            var loader = {
                add: function($select) {return $('<i class="fa fa-circle-o-notch fa-spin" style="position:absolute;margin:5px;"></i>').insertBefore($select)},
                remove: function($loader) {$loader.remove()}
            };

            function update_select($select, url) {
                var selected_id = $select.data("value");
                console.log(selected_id, $select.attr("name"));
                $select.html("<option></option>");
                var $loader = loader.add($select);
                $.getJSON(url, function(data){
                    $(data.objects).each(function(i, el){
                        var selected = (String(el.id) === String(selected_id)) ? "selected " : "";
                        $select.append("<option "+selected+" value='"+el.id+"'>"+el.name+"</option>");
                    });
                    loader.remove($loader);
                    //$select.selectpicker();
                }).fail(function(jqr, status, reason){
                    bsnotify.error("Unable to update "+$select.attr("name")+" ("+jqr.responseJSON.message+")");
                });
            }

            function get_campaign_upload_types() {
                var upload_type = $upload_type_select.data("value");
                $upload_type_select.html("<option></option>");
                var $loader = loader.add($upload_type_select);
                $.getJSON("/api/{{ plugin }}/get_campaign_upload_types", function(data){
                    $(data).each(function(i, el){
                        var selected = (el === upload_type) ? "selected " : "";
                        $upload_type_select.append($("<option "+selected+" value='"+el+"'>"+el+"</option>"));
                    });
                    $upload_type_select.change(function(){
                        if ($upload_type_select.val()) {
                            $file_selection_container.show();
                            import_directory();
                        }
                    });
                    $upload_type_select.trigger("change");
                    loader.remove($loader);
                }).fail(function(jqr, status, reason){
                    bsnotify.error("Unable to update "+$upload_type_select.attr("name")+" ("+jqr.responseJSON.message+")");
                })
            }

            function import_directory() {
                var upload_type = $upload_type_select.val();
                var directory = $import_folder.val();
                console.log(directory, upload_type);
                $.getJSON("/api/{{ plugin }}/import_directory", {upload_type: upload_type, directory: directory}, function(data){
                    // update files
                    set_file_list($file_list, data.data.metadata, true);
                    set_file_list($folder_list, data.data.media, false);
                }).fail(function(jqr, status, reason){
                    bsnotify.error("Unable to update "+$upload_type_select.attr("name")+" ("+jqr.responseJSON.message+")");
                });
            }

            function set_file_list($list_container, file_list, is_file) {
                var type, args;
                if (is_file) {
                    type = "file";
                    args = "&file_type="+encodeURIComponent("All files (*.*)");
                }
                else {
                    type = "folder";
                    args = ""
                }
                $list_container.html("");

                $(file_list).each(function(i,el){
                    var matched_file = (el.matched.length > 0) ? el.matched[0] : "";
                    var required = (el.qtyreq > 0) ? 'required="required"' : "";
                    var $btn = $('<a href="javascript:void(0)" class="input-group-addon"><i class="ti-'+type+'"></i></a>');
                    var $input = $('<input type="text" value="'+matched_file+'" data-type="'+type+'" name="'+type+'-'+i+'" placeholder="path/to/local/campaign/'+el.pattern+'" class="form-control" '+required+'>').data(
                        {pattern: el.pattern, qtyreq: el.qtyreq, op: el.op}
                    );
                    var $pattern = $('<span class="input-group-addon">'+el.pattern+'</span>');
                    var $filecontrol = $('<div class="input-group input-group-sm">').append($input, $pattern, $btn);
                    $btn.click(function(){
                        extgui.bgprocess("/modal/file?_="+Date.now()+args, function(data){$input.val(data.selected_file).trigger("change")})
                    });

                    $list_container.append($filecontrol)
                });
            }

            function set_directory() {
                extgui.bgprocess("/modal/file?_="+Date.now(), function(data){
                    $import_folder_btn.siblings("input[name='directory']").val(data.selected_file).trigger("change");
                    console.log(data);
                });
                /*
                $.getJSON("/modal/file", function(data){
                    $import_folder_btn.siblings("input[name='directory']").val(data.selected_file).trigger("change");
                    console.log(data);
                })
                */
            }

            function submit_form(form) {
                var data = {
                    site_name: $form.find("input[name='site_name']").val(),
                    start_date: $form.find("input[name='start_date']").val(),
                    description: $form.find("textarea[name='description']").val(),
                    project: {name: $project_select.find("option:selected").text(), id: $project_select.val()},
                    platform: {name: $platform_select.find("option:selected").text(), id: $platform_select.val()},
                    upload_type: $upload_type_select.val(),
                    import_origin: $import_folder.val(),
                    metadata: [],
                    media: []
                };
                var campaign_path = ($campaign_path.val() !== "") ? $campaign_path.val(): null;

                $file_list.find("input[data-type='file']").each(function(i, el){
                    var fdata = $(el).data();
                    fdata["origin"] = $(el).val();
                    data.metadata.push(fdata);
                });
                $folder_list.find("input[data-type='folder']").each(function(i, el){
                    var fdata = $(el).data();
                    fdata["origin"] = $(el).val();
                    data.media.push(fdata);
                    //data.media.push($(el).val());
                });

                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/api/{{ plugin }}/create_edit_campaign",
                    // The key needs to match your method's input parameter (case-sensitive).
                    data: JSON.stringify({data:data, campaign_path:campaign_path}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(rdata){
                        //var url = "/api/{{ plugin }}/get_campaign?campaign_path="+encodeURIComponent(rdata.path)+"&template=synctool/globalarchive/campaign_modal.html";
                        //bsmodal(url);
                        bsnotify.success("Campaign information has been saved successfully.");
                        $modal.trigger("completed");

                    }
                }).fail(function (jxqr, status, msg) {
                    try {
                        bsnotify.error(jxqr.responseJSON.message);
                    }
                    catch(err) {
                        bsnotify.error(jxqr.statusText);
                    }
                });

            }


            {% if data %}
                // Set file lists
                set_file_list($file_list, JSON.parse('{{ data.metadata | tojson }}'.replace(/\\/g,"\\\\\\\\")), true);   // replace \\ with \\\\ for windows!
                set_file_list($folder_list, JSON.parse('{{ data.media | tojson }}'.replace(/\\/g,"\\\\\\\\")), false);   // replace \\ with \\\\ for windows!
            {% endif %}
            update_select($project_select, "/api/{{ plugin }}/get_projects");
            update_select($platform_select, "/api/{{ plugin }}/get_platforms");
            get_campaign_upload_types();
            $import_folder_btn.click(set_directory);
            $import_folder.change(import_directory);
            $form.validate({submitHandler: submit_form});

        });
    </script>
</div>
{% endwith %}
