<div  id="campaign-modal-container-{{ ts }}" class="card">
    <style>
        p .category {
            width: 150px;
            display: inline-block;
        }
        #campaign-tabs li.active a {
            color: #333;
            font-weight: bold;
        }
        .modal.in {
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="ti-package"></i> Campaign:</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul id="campaign-tabs" class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" id="campaign-import-tab-link" href="#campaign-modal-container-{{ ts }} #campaign-import-tab" data-toggle="tab"><i class="ti-pencil-alt"></i> Edit</a></li>
                    <li class="nav-item"><a class="nav-link" id="campaign-local-tab-link" href="#campaign-modal-container-{{ ts }} #campaign-local-tab" data-toggle="tab"><i class="ti-folder"></i> Local Record</a></li>
                    <li class="nav-item"><a class="nav-link" id="campaign-online-tab-link" href="#campaign-modal-container-{{ ts }} #campaign-online-tab" data-toggle="tab"><i class="ti-cloud"></i> Online Record</a></li>
                </ul>
            </div>
        </div>
    </nav>

{#    <nav class="navbar navbar-default">#}
{#        <a class="navbar-brand" href="#">Campaign:</a>#}
{#        <div class="collapse navbar-collapse">#}
{#            <ul id="campaign-tabs" class="nav navbar-nav mr-auto">#}
{#                <li class="nav-item"><a class="nav-link" id="campaign-import-tab-link" href="#campaign-modal-container-{{ ts }} #campaign-import-tab" data-toggle="tab"><i class="ti-pencil-alt"></i> Edit</a></li>#}
{#                <li class="nav-item"><a class="nav-link" id="campaign-local-tab-link" href="#campaign-modal-container-{{ ts }} #campaign-local-tab" data-toggle="tab"><i class="ti-folder"></i> Local Record</a></li>#}
{#                <li class="nav-item"><a class="nav-link" id="campaign-online-tab-link" href="#campaign-modal-container-{{ ts }} #campaign-online-tab" data-toggle="tab"><i class="ti-cloud"></i> Online Record</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </nav>#}
    <div class="card-content">
{#        <div class="nav-tabs-navigation">#}
{#            <div class="nav-tabs-wrapper">#}
{#                <ul id="campaign-tabs" class="nav nav-tabs" data-tabs="tabs">#}
{#                    <li><a class="disabled" href="#"><b>Campaign:</b></a></li>#}
{#                    <li><a href="#campaign-import-tab" data-toggle="tab"><i class="ti-pencil-alt"></i> Edit</a></li>#}
{#                    <li><a href="#campaign-local-tab" data-toggle="tab"><i class="ti-folder"></i> Local Record</a></li>#}
{#                    <li><a href="#campaign-online-tab" data-toggle="tab"><i class="ti-cloud"></i> Online Record</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
        <div class="tab-content">
            <div class="tab-pane" id="campaign-import-tab">
                {% include "synctool/globalarchive/campaign_edit.html" %}
            </div>
            <div class="tab-pane" id="campaign-local-tab">
                {% include "synctool/globalarchive/campaign_view_local.html" %}
            </div>
            <div class="tab-pane" id="campaign-online-tab">
                {% include "synctool/globalarchive/campaign_view_online.html" %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            var $container = $("#campaign-modal-container-{{ ts }}");
            var $tabs = $container.find('#campaign-tabs');
            {% if data %}
            $tabs.find('#campaign-local-tab-link').tab('show');
            {% else %}
            $tabs.find('#campaign-import-tab-link').tab('show');
            {% endif %}
        });
    </script>
</div>