
<div class="row" id="browse-container-{{ ts }}">
    <div class="col-md-12">
        <div class="card">


            <div class="card-header">
                <h6 class="card-title">Your campaigns:</h6>
{#                <p class="category">The list below shows campaigns in your working directory on this computer.</p>#}
            </div>


            <div class="card-content row">
                <div class="col-md-12">
                    <div class="panel panel-border panel-default">
{#                        <h4 class="panel-title">Directories</h4>#}
                        <div class="project-controls">
                            <button rel="action" data-action="reload" type="button" class="btn btn-fill btn-primary" title="Refresh list"><i class="fa fa-refresh"></i> Refresh</button>
                            <a class="btn btn-success btn-fill pull-right" href="/ui/synctool/globalarchive/campaign_edit.html?plugin={{ plugin }}" rel="modal" data-modal_id="campaign_modal" id="new_campaign_btn"><i class="fa fa-plus"></i> New CAMPAIGN</a>
                        </div>
                        <div class="panel-body table-responsive table-full-width">
                            {% if not data %}
                            <div class="text-center" style="padding:30px 0">
                                <h6><i class="fa fa-exclamation-triangle"></i> No datasets have been imported</h6>
                                <p>Click the button above to import a dataset."</p>
                            </div>
                            {% else %}
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th><i class='fa fa-file'></i> Campaign</th>
                                    <th><i class="fa fa-tasks"></i> Project</th>
                                    <th>#files</th>
                                    <th>#media</th>
                                    <th><i class="fa fa-upload"></i> Upload</th>
                                    <th><i class="fa fa-cloud-upload"></i> Sync</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for d in data %}
                                    <tr>
{#                                        <td><a href="/api/{{ plugin }}/get_campaign?campaign_path={{ d.path | urlencode }}&template=synctool/globalarchive/campaign_modal.html" rel="modal" data-modal_id="campaign_modal"><i class="fa fa-folder-open"></i> <b>{{ d.name }}</b></a></td>#}
                                        <td><a href="/api/{{ plugin }}/get_campaign?campaign_path={{ d.path | urlencode }}&template=synctool/globalarchive/project_detail.html" rel="modal" data-modal_id="campaign_modal"><i class="fa fa-folder-open"></i> <b>{{ d.name }}</b></a></td>
                                        <td>{{ d.project_name }}</td>
                                        <td>{{ d.nfiles }}</td>
                                        <td>{{ d.nmedia }}</td>
                                        <td>
                                        {% if d.data_checks %}
                                            {% if d.data_checks.upload_status == "complete" %}
                                                <span class="label label-success"><i class="fa fa-check"></i> done</span>
                                            {% elif d.data_checks.upload_status == "error" %}
                                                <span class="label label-danger"><i class="fa fa-times"></i> error</span>
                                            {% elif d.data_checks.upload_status == "in-progress" %}
                                                <span class="label label-info"><i class="fa fa-refresh fa-spin"></i> in-prog</span>
                                            {% elif d.data_checks.upload_status == "unknown" %}
                                                <span class="label label-warning"><i class="fa fa-question"></i><i class="fa fa-question"></i><i class="fa fa-question"></i></span>
                                            {% elif d.data_checks.upload_status == "none" %}
                                                -
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                        <td>
                                            {% if d.data_checks.sync_status == "complete" %}
                                                <span class="label label-success"><i class="fa fa-check"></i> done</span>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#<pre id="test_json">{{ data | topjson }}</pre>#}

    <script>
        $(document).ready(function(){
            var container_id = "#browse-container-{{ ts }}";
            var $container = $(container_id);
            var $parent = $container.parent();

            $container.find("a[rel='modal']").data("onhidden", function(){
                $parent.trigger("reload");
            });

            $container.find("[rel='action']").click(function(e){
                e.preventDefault();
                var action = $(this).data("action");
                if (action === "reload") {
                    $parent.trigger("reload");
                }
                return false;
            })
        });
    </script>
</div>
