<style>
    .panel-body h6 {
        border-top: 1px solid #e8e7e3;
        margin-top: 5px;
        padding-top: 5px;
        margin-bottom: 5px;
    }
    #project-map {
        height: 500px;
        min-height: 500px;
    }
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }

    .alert.alert-data {
        font-size: smaller;
    }
    .help-block {
        font-size: small;
    }


</style>



<div class="row" id="project-container-{{ ts }}">
    <div class="col-md-12">
        <div class="card">

            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">

                        <div class="btn-group-sm pull-right">
                           <a href="javascript:void(0)" rel="action" data-action="remove" class="btn btn-fill btn-danger btn-magnify btn-sm" title="Remove campaign from local projects"><i class="fa fa-times"></i> REMOVE</a>
                           <a href="/api/{{ plugin }}/get_campaign?campaign_path={{ data.path | urlencode }}&template=synctool/globalarchive/campaign_edit.html" rel="modal_custom" class="btn btn-fill btn-success btn-rotate btn-sm" title="Edit this campaign"><i class="fa fa-pencil"></i> EDIT</a>
{#                           <a href="javascript:void(0)" rel="action" data-action="sync" class="btn btn-fill btn-info btn-rotate btn-sm" title="Sync meta data to cloud platform"><i class="fa fa-cloud-upload"></i> SYNC</a>#}
{#                           <a href="/api/{{ plugin }}/sftp?method=upload&source={{ data.path | urlencode }}" rel="bgprocess" class="btn btn-fill btn-primary btn-rotate btn-sm show-tooltip" title="Upload media to cloud repository"><i class="fa fa-upload"></i> UPLOAD</a>#}
                        </div>

                        <div class="panel panel-border panel-default" style="width: 100%">
                            <h2 class="panel-title"><b>CAMPAIGN:</b> <em>{{ data.name }}</em></h2>
                            <p class="category">{{ data.description }} &nbsp;</p>

{#                            <small  class="pull-right text-right">#}
{#                                <b>Last edit:</b> <em>??/??/????</em><br>#}
{#                                <b>Last sync:</b> <em>??/??/????</em><br>#}
{#                                <b>Last upload:</b> <em>??/??/????</em>#}
{#                            </small>#}
                            <div class="row small">
                                <div class="col-md-4"><b><i class="fa fa-map-marker"></i> Site</b>: <em>{{ data.site_name }}</em></div>
                                <div class="col-md-4"><b><i class="fa fa-calendar"></i> Start date</b>: <em>{{ data.start_date }}</em></div>
                                <div class="col-md-4"><b><i class="fa fa-cloud-upload"></i> Upload type</b>: <em>{{ data.upload_type }}</em></div>
                            </div>
                            <div class="row small">
                                <div class="col-md-4"><b><i class="fa fa-tasks"></i> Project</b>: <em>{{ data.project.name }}</em></div>
                                <div class="col-md-4"><b><i class="fa fa-camera"></i> Platform</b>: <em>{{ data.platform.name }}</em></div>
                            </div>
{#                            <hr>#}
                            <div class="small">
                                <b><i class="fa fa-folder-open"></i> Local path:</b>
{#                                <b><a href="/open/file?path={{ data.path | urlencode }}" rel="gui_warn"><i class="fa fa-folder-open"></i> Local path:</a></b> #}
                                {{ data.path }}</div>
                            <div class="well well-sm" style="margin: 20px 0 0 0">
                                <div id="upload-status"></div>
                                <div id="sync-status"></div>
                            </div>

                        </div>
                    </div>
                </div>

                {% if data.errors %}
                    <div class="alert alert-danger alert-data">
                        <h6><i class="fa fa-exclamation-triangle"></i> Error(s) - critical issues - please fix prior to upload / syncing</h6>
                        <ol>
                        {% for e in data.errors %}
                            <li>{{ e }}</li>
                        {% endfor %}
                        </ol>
                    </div>
                {% endif %}

                {% if data.warnings %}
                    <div class="alert alert-info alert-data">
                        <h6><i class="fa fa-exclamation-triangle"></i> Warnings(s) - non-critical issues</h6>
                        <ol>
                        {% for w in data.warnings %}
                            <li>{{ w }}</li>
                        {% endfor %}
                        </ol>
                    </div>
                {% endif %}


                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-border panel-default">
                            <a href="/api/{{ plugin }}/get_em_skeleton_file?path={{ data.path | urlencode }}" target="_blank" class="btn btn-fill btn-info btn-rotate btn-xs pull-right show-tooltip" title="Download EventMeasure skeleton file" data-container="body"><i class="fa fa-download"></i> EM SKELETON</a>
                            <h4 class="panel-title">Local data/files</h4>
                            <p class="category">Local metadata &amp; annotation files that has been saved on this computer</p>
                            <div class="panel-body" id="project-local-data">
                                <table class="table table-striped table-sm">
                                    {% for f in data.metadata %}
                                    {% if f.pattern == "*_Metadata.csv" %}{% set metadata_file = f.path %}{% endif %}
                                    <tr>
                                        <td>
                                            {% if f.errors %}
                                            <span class="badge label-danger" title="This file has errors that need to be fixed"><i class="fa fa-exclamation-triangle"></i> {{ f.errors | length }} ERROR(S)</span>
                                            {% elif f.warnings %}
                                            <span class="badge label-info" title="This file has warnings that you should look at"><i class="fa fa-exclamation-triangle"></i> {{ f.warnings | length }} WARN(S)</span>
                                            {% elif not f.name %}
                                            <span class="badge label-warning" title="No match found for this file"><i class="fa fa-question"></i></span>
                                            {% else %}
                                            <span class="badge label-success" title="All is good with this file!"><i class="fa fa-check"></i></span>
                                            {% endif %}

                                            <a href="javascript:void(0)" onclick="$(this).siblings('.help-block').toggle()">{{ f.pattern }} <i class="fa fa-caret-down"></i></a>

                                            <div class="help-block" style="display: none">
                                                <div title="{{ f.path }}">{{ f.name }}</div>
                                                {% if f.errors %}
                                                    <div class="text-danger"> <b>ERROR(S):</b>
                                                    {% for e in f.errors %}
                                                        <br><b>{{ loop.index }}.</b> {{ e }}
                                                    {% endfor %}
                                                    </div>
                                                {% endif %}
                                                {% if f.warnings %}
                                                    <div class="text-info"> <b>WARNING(S):</b>
                                                    {% for w in f.warnings %}
                                                        <br><b>{{ loop.index }}.</b> {{ w }}
                                                    {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <a href="/ui/synctool/filesystem/file_edit.html?f={{ f.path | urlencode }}&p={{ f.pattern | urlencode }}&plugin={{ plugin }}" data-modal_class="modal-full" rel="modal_custom" class="btn btn-xs btn-fill btn-icon btn-info" title="Open in built in editor"><i class="fa fa-pencil"></i></a>
{#                                            <a href="/open/file?path={{ f.path | urlencode }}" rel="gui_warning" class="btn btn-xs btn-fill btn-icon btn-primary" title="Open in default external program"><i class="fa fa-external-link"></i></a>#}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-border panel-default">
{#                            <button type="button" class="btn btn-fill btn-primary btn-rotate btn-xs pull-right" title="Upload media to cloud repository" rel="tooltip" data-container="body"><i class="fa fa-upload"></i> UPLOAD</button>#}
                            <h4 class="panel-title">Media data</h4>
                            <p class="category">Media (imagery) / metadata checks</p>
                            <div class="panel-body">
                                <div class="help-block">
                                    {% for el in data.media %}
                                    <span class="pull-right text-right">
{#                                        {% if el.n_mismatches_in_file %}#}
                                        <a href="/api/{{ plugin }}/match_media_metadata_to_dir?mediainfo_file_path={{ data.mediainfo_file_path | urlencode }}&dirpath={{ el.path  | urlencode}}&template=synctool/filesystem/verify_media_links.html" rel="modal_custom" data-modal_class="modal-full" class="btn btn-xs btn-fill btn-icon btn-info" title="Fix integrity errors"><i class="fa fa-pencil"></i></a>
{#                                        {% endif %}#}
{#                                        <a href="/open/file?path={{ el.path | urlencode }}" rel="gui" class="btn btn-xs btn-fill btn-icon btn-primary" title="Open/view folder"><i class="fa fa-folder-open"></i></a>#}
                                    </span>
                                    <b>Directory:</b> <em>{{ el.pattern }}</em><br>
                                    <b class=""><i class="fa fa-info-circle"></i> {{ el.n_files }}</b>
                                        imported files <br>
                                    {% if el.n_matches <=0 %}
                                        <span class='label label-danger'><i class="fa fa-exclamation-triangle"></i> ERROR: ZERO</span>
                                    {% else %}
                                        <span class='label label-success'><i class="fa fa-check"></i> {{ el.n_matches }}</span>
                                    {% endif %}
                                    linked files with the metadata<br>
                                    {% if el.n_mismatches_in_file > 0 %}
                                        <span class='label label-danger'><i class="fa fa-exclamation-triangle"></i> ERROR(S): {{ el.n_mismatches_in_file }}</span>
                                    {% else %}
                                        <span class='label label-success'><i class="fa fa-check"></i> {{ el.n_mismatches_in_file }}</span>
                                    {% endif %}
                                     metadata entries without linked files<br>
                                    {% if el.n_mismatches_in_dir > 0 %}
                                        <span class='label label-danger'><i class="fa fa-exclamation-triangle"></i> ERROR(S): {{ el.n_mismatches_in_dir }}</span>
                                    {% else %}
                                        <span class='label label-success'><i class="fa fa-check"></i> {{ el.n_mismatches_in_dir }}</span>
                                    {% endif %}
                                     linked files without metadata entries
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-border panel-default">
                            <h4 class="panel-title">Global Archive</h4>
                            <p class="category">Metadata &amp; annotations that have been synced to the cloud</p>
                            <div class="panel-body" id="project-online-record">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-border panel-default">
                            <h4 class="panel-title">Online storage repository</h4>
                            <p class="category">Upload videos and images to online storage repository</p>
                            <div class="panel-body" id="">
                                <a href="http://144.6.225.14/staging/{{ data.uuid }}" target="_blank" class="btn btn-success btn-fill btn-rotate form-control"><i class="fa fa-external-link"></i> VIEW: <small>on Online Storage</small></a>
                                <a href="/api/{{ plugin }}/sftp?method=upload&source={{ data.path | urlencode }}" rel="bgprocess" class="btn btn-fill btn-info btn-rotate form-control" title="Upload to online storage"><i class="fa fa-upload"></i> UPLOAD: <small>to Online Storage</small></a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-border panel-default">
                            <h4 class="panel-title">Metadata / Deployment map</h4>
                            <p class="category">Check location of deployments in metadata file prior to upload...</p>
                            <div class="panel-body list-inline">
                                <div id="project-map">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{#<pre>{{ data | topjson }}</pre>#}
    <script>
        $(document).ready(function(){
            {#//console.log(JSON.parse('{{ data | tojson }}'));#}


            var container_id = "#project-container-{{ ts }}";
            var $container = $(container_id);
            var $upload_status = $container.find("#upload-status");
            var $sync_status = $container.find("#sync-status");
            var $local_data = $container.find("#project-local-data");
            var $online_record = $container.find("#project-online-record");
            var $map = $container.find("#project-map");
            var meta_data_file = decodeURIComponent("{{ data.path | urlencode }}")+"/media_metadata.csv";
            var $modal = $container.parents(".modal.in");


            initProjectMap(meta_data_file);
            update_online_record("{{ data.path | urlencode }}");
            update_upload_progress("{{ data.path | urlencode }}");

            //$container.find("a[rel='gui']").tooltip({placement:"right"});
            //$container.find("a[rel='gui_warning']").click(link_click_handler.gui_warning).tooltip({placement:"right"});
            //$container.find("a[rel='bgprocess']").tooltip({placement:"right"});
            $container.find("a[rel='modal_custom']")
                .data("onhidden", function(){$modal.trigger("reload")})
                .click(link_click_handler.modal).tooltip();
            $container.find("a[rel='action']").click(bind_actions).tooltip();
            $container.find(".show-tooltip").tooltip();

            function bind_actions(e) {
                e.preventDefault();
                //var url = $(this).attr("href");
                var action = $(this).data("action");
                var _this = this;
                if (action==="remove") {
                    var url = "/api/{{ plugin }}/fileop?path={{ data.path | urlencode }}&op=rmtree";
                    swalert("Are you sure you want to remove this dataset? This may not be reversible. " +
                        "It will delete your local copy and all associated files. It will not affect uploaded/synced data sources.", {
                        title: "Remove dataset?",
                        on_ok: function () {
                            extgui.bgprocess(url, function () {
                                $modal.modal("hide");
                            })
                        }
                    });
                }
                else if (action === "sync") {
                    var url = "/api/{{ plugin }}/sync_campaign?path={{ data.path | urlencode }}";
                    $(_this).addClass("disabled");
                    $sync_status.html($("<div>").append($("<div class='small'>Syncing metadata to cloud platform...</b>"),$("<div class='progress'>")
                        .append($('<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">'))));
                    extgui.bgprocess(url, function(){
                        $(_this).removeClass("disabled");
                        update_online_record("{{ data.path | urlencode }}");
                        //bsnotify.success("Campaign was successfully synced to online platform");
                        //$sync_status.html("<b><i class='fa fa-check text-success'></i> SYNC COMPLETED!</b>");
                        // TODO: reload modal
                    }, function(){
                        $sync_status.html("<b class='text-danger'><i class='fa fa-exclamation-triangle'></i> SYNC ERROR!</b>");
                        $(_this).removeClass("disabled");
                    });
                }
                return false;
            }


            function update_upload_progress(path) {
                var url = "/api/{{ plugin }}/sftp?method=status&source="+path+"&template=synctool/api/ftp/transfer_status.html";
                $upload_status.loadcontent(url, {reload_interval: 1000});
            }

            function update_online_record(path) {
                var online_record_template = "synctool/globalarchive/campaign_online.html";
                var url = "/api/{{ plugin }}/get_online_record_data?path="+path+"&template="+online_record_template;
                $online_record.loadcontent(url, {success: function() {
                    $online_record.find("a[rel='action']").click(bind_actions);
                }});
                $sync_status.loadcontent("/api/{{ plugin }}/get_online_record_syncstat?path="+path+"&template=synctool/globalarchive/sync_status.html");

            }



            function initProjectMap(meta_data_file) {
                var metadata_parseable = false;
                var deployment_count = 0;
                $.getJSON("/api/datafile/open?format=dict&f="+encodeURIComponent(meta_data_file), function(filedata){
                    var data = filedata.data;
                    deployment_count = data.length;

                    if (deployment_count > 0) {
                        var baselayer = new L.tileLayer('http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}', {
                            maxZoom: 18,
                            maxNativeZoom: 10,
                            attribution: "ESRI Oceans"
                        });
                        var map = new L.map($map.attr("id"), {
                            center: L.LatLng(data[0].Latitude, data[0].Longitude),
                            zoom: 13,
                            layers: [baselayer]
                        });

                        var markers = [];
                        for (var i = 0; i < data.length; i++) {
                            var a = data[i];
                            var popupinfo = "";
                            $.each(a, function (k, v) {
                                popupinfo += "<b>" + k + "</b>: " + v + "<br>";
                            });
                            markers.push(new L.CircleMarker([a.Latitude, a.Longitude],
                                {color: '#000', fillColor: 'green', fillOpacity: 0.3, weight: 1}
                            ).bindPopup(popupinfo));
                        }
                        var group = new L.featureGroup(markers);
                        group.addTo(map);
                        map.fitBounds(group.getBounds());
                        metadata_parseable = true;
                    }
                    else {
                        $map.html("No deployments found in metadata file to show on map...");
                    }
                });
            }
        });

    </script>
</div>
