{% if data.synced_at %}
    <b><i class='fa fa-check text-success'></i> SYNC COMPLETED: {{ data.synced_at | datetime('%Y-%m-%d @ %H:%M:%S') }}</b>
{% else %}
    <b><i class='fa fa-exclamation-triangle text-danger'></i> NOT SYNCED YET:</b> Fix errors and then click <b>SYNC</b> to transfer metadata to the online platform.
{% endif %}