.modal-dialog.modal-full {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3px;
}

.modal-full .modal-content {
  height: auto;
  min-height: 100%;
}

.modal-dialog .close{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 25px;
  z-index: 99;
}

.modal { overflow: auto !important; }

.status_select {
  padding: 0;
  margin: 0;
  background-color: white;
  text-align: right;
  border: none;
  color: black;
  font-size: smaller;
  max-width: 100%;
}

.card-footer .stats {
  height: 40px;
  overflow-x: hidden;
}

table.table-sm tbody tr > td {
  padding: 2px 5px;
  font-size: small;
}


.popover {
    background: #e7e7e7;
    /*overflow: auto;*/
    max-width:600px;
}
.popover.left .arrow:after {
  border-left-color: #e7e7e7;
}
.popover.right .arrow:after {
  border-right-color: #e7e7e7;
}
.popover.top .arrow:after {
  border-top-color: #e7e7e7;
}
.popover.bottom .arrow:after {
  border-bottom-color: #e7e7e7;
}

.btn-square {
    border-radius: 5px;
}