{% if data %}
<div class="card">
    <div class="card-content">
        <h6 class="card-title">Current uploads</h6>
        <div class="well well-sm">
        {% for d in data %}
            <div class="small" style="padding: 5px; border-bottom: 1px #ddd solid">
                <b>
                    <a href="/api/{{ plugin }}/get_campaign?campaign_path={{ d.source | urlencode }}&template=synctool/globalarchive/project_detail.html" rel="modal" title="Open dataset">
                        <i class="fa fa-external-link"></i> VIEW CAMPAIGN
                    </a>
                </b> |
                {% if d.is_active %}
                    {{ '%.1f' | format(d.total_prog*100) }}% |
                    Checking {{d.nfiles_tfd + d.nfiles_skipd}}/{{ d.total_nitems }} objects:
                    {{d.ndirs}} dirs found, {{ d.nfiles_tfd }} files uploaded,
                    {{ d.nfiles_skipd }} <span title="Files are skipped if the same version already exists on the server">skipped</span>
                    <div class="progress" style="margin: 5px 0 0 0">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ d.total_prog*100 }}%;">
                            <span class="sr-only">{{ d.total_prog*100 | round(1) }}%</span>
                        </div>

                    </div>
                {% elif d.error %}
                    <span class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i> Upload error!
                    </span>
                {% endif %}
            </div>
{#            {% with data=d %}#}
{#                <a href="/api/{{ plugin }}/get_campaign?campaign_path={{ data.source | urlencode }}&template=synctool/globalarchive/project_detail.html" rel="modal" class="label label-info pull-right" title="Open dataset"><i class="fa fa-external-link"></i></a>#}
{#                {% include "synctool/api/ftp/transfer_status.html" %}#}
{#            {% endwith %}#}
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}