{#<div id="transfer-status-container-{{ ts }}">#}
<div class="sftp-transfer-status">
{#    <small>{{ data.source }}</small>#}

    {% if data.is_complete %}
        <b><i class="fa fa-check text-success"></i> UPLOAD COMPLETED: {{ data.updated_at | datetime('%Y-%m-%d @ %H:%M:%S') }}</b>:
        <small class="help-text">
        {{data.total_size | naturalsize}} in {{data.duration | round(1)}}s |
        {{data.total_nitems}} items: {{data.ndirs}} dirs,
        {{data.nfiles_tfd+data.nfiles_skipd}} files
        ({{data.nfiles_tfd}} uploaded, {{data.nfiles_skipd}} unchanged).
        </small>
    {% elif data.is_active %}
        <div class="small">
            <b>Upload progress:</b>
            {{ '%.1f' | format(data.total_prog*100) }}% |
            Checking {{data.nfiles_tfd + data.nfiles_skipd}}/{{ data.total_nitems }} objects:
            {{data.ndirs}} dirs found, {{ data.nfiles_tfd }} files uploaded,
            {{ data.nfiles_skipd }} <span title="Files are skipped if the same version already exists on the server">skipped</span>
        </div>
        <a href="/api/{{ plugin }}/sftp?method=stop&tfid={{ data.tfid }}" rel="bgprocess" class="btn btn-sm btn-danger btn-fill btn-square pull-right" style="margin-left: 5px"><i class="fa fa-times"></i> CANCEL</a>
        <div class="progress" style="height:20px; margin-bottom: 5px">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ data.total_prog*100 }}%;">
                <span class="sr-only">{{ data.total_prog*100 | round(1) }}%</span>
            </div>

        </div>
        <div class="help-block">
            <div class="progress" style="height:5px; margin-bottom: 0">
                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ data.cur_file_prog*100 }}%;">
                    <span class="sr-only">{{ data.cur_file_prog*100 | round }}%</span>
                </div>
            </div>
            <div class="small">
                <b>Last file:</b> {{ data.last_file | basename }} |
                {{ '%.1f' | format(data.cur_file_prog*100) }}% ({{data.cur_file_tfd|naturalsize}}/{{data.cur_file_size|naturalsize}})
            </div>
        </div>
    {% elif not data.started_at %}
        <div>
            <b><i class="fa fa-exclamation-triangle text-danger"></i> NOT UPLOADED YET:</b>
            Fix data errors then click <b>UPLOAD</b>
            to transfer media to online storage.
        </div>
    {% elif data.error %}
        <div class="text-danger" title="{{ data.error }}"><b><i class="fa fa-exclamation-triangle"></i> UPLOAD ERROR!</b>
            Upload was interrupted. It was either cancelled or there was an error. Please try again.</div>
    {% elif data.started_at and not data.is_complete and not data.is_active %}
        <div class="">
            <b class="text-danger"><i class="fa fa-exclamation-triangle"></i> INCOMPLETE:</b>
            Upload may have been started, but state is unknown.
            It may have been terminated abruptly.
        </div>
    {% endif %}
</div>




