
<div id="dashboard-container">

<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="icon-big icon-success text-center">
                            <i class="ti-reload"></i>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="numbers">
                            <p>Select cloud instance:</p>
                            <select class="status_select" id="platform_plugin_select">
                                {% for p in config.PLATFORM_PLUGINS.keys() %}
                                <option value="{{ p }}" {% if p == platform_plugin %}selected{% endif %}>{{ config.PLATFORM_PLUGINS[p].name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr />
                <div class="stats">
                    <i class="ti-reload"></i>&nbsp;{{ config.APPNAME }} will download settings and parameters from selected instance.
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="icon-big icon-danger text-center">
                            <i class="ti-user"></i>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="numbers">
                            <p>Login status:</p>
                            <span id="login_status">Checking...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr />
                <div class="stats">
{#                    <a href="#" class="pull-right"><i class="ti-pencil"></i> EDIT</a>#}
                    <i class="ti-key"></i>&nbsp;<span id="login_info">Configure&nbsp;your&nbsp;API&nbsp;KEY&nbsp;in&nbsp;settings</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="icon-big icon-warning text-center">
                            <i class="ti-folder"></i>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="numbers">
                            <p>Local files:</p>
                            <span id="workdir_stats">Checking...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr />
                <div class="stats">
{#                    <a href="#" class="pull-right"><i class="ti-pencil"></i> EDIT</a>#}
                    <a href="/open/file?path={{ config.PROJECT_PATH | urlencode }}" rel="gui_warn"><i class="ti-folder"></i></a><span title="{{ config.PROJECT_PATH }}">&nbsp;{{ config.PROJECT_PATH }}</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="active-transfer-list-container">
    There are no active uploads...
</div>

<div id="project-list-container">

</div>





{#<div class="row">#}
{#    <div class="col-lg-6 col-sm-6">#}
{#        <div class="card card-circle-chart" data-background-color="blue">#}
{#            <div class="card-header text-center">#}
{#                <h5 class="card-title">Syncing</h5>#}
{#                <p class="description">to Global Archive</p>#}
{#            </div>#}
{#            <div class="card-content">#}
{#                <div id="chartDashboard" class="chart-circle" data-percent="70">70%</div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-6 col-sm-6">#}
{#        <div class="card card-circle-chart" data-background-color="green">#}
{#            <div class="card-header text-center">#}
{#                <h5 class="card-title">Uploading</h5>#}
{#                <p class="description">to Cloud Storage</p>#}
{#            </div>#}
{#            <div class="card-content">#}
{#                <div id="chartOrders" class="chart-circle" data-percent="34">34%</div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<!-- Circle Percentage-chart -->#}
{#<script src="/static/assets/js/jquery.easypiechart.min.js"></script>#}

<script>
    $(document).ready(function(){
        var $dashboard_container = $("#dashboard-container");
        var $platform_plugin_select = $("#platform_plugin_select");
        var $project_list_container = $("#project-list-container");
        var $active_transfer_list_container = $("#active-transfer-list-container");
        var $login_status = $("#login_status");
        var $login_info = $("#login_info");
        var $workdir_stats = $("#workdir_stats");
        var PLATFORM_PLUGINS = JSON.parse('{{ config.PLATFORM_PLUGINS | tojson }}');

        function update_platform_plugin(platform_plugin) {
            var url = "/api/"+platform_plugin+"/list?workingdir={{ config.PROJECT_PATH | urlencode }}&template=synctool/"+PLATFORM_PLUGINS[platform_plugin]['template']+"/project_list.html";
            $project_list_container.loadcontent(url);

            // check api key
            check_api_key(platform_plugin);

            // check data dir stats
            check_data_directory();

            var tfurl = "/api/"+platform_plugin+"/sftp?method=status&template=synctool/api/ftp/transfer_status_list.html";
            $active_transfer_list_container.loadcontent(tfurl, {
                success: function(){
                    $active_transfer_list_container.find("a[rel='modal']").data("onhidden", function(){
                        $project_list_container.trigger("reload");
                    })
                },
                reload_interval: 3000
            });

            /*

            $.get("/platform/set?platform_plugin="+platform_plugin, function(data){
                // load project list
                $project_list_container.load("/ui/synctool/"+data.platform_plugin_data.template+"/project_list.html", function(responseText, textStatus, req){
                    if ( textStatus === "error" ) bsnotify.error(responseText);
                });

                // check api key
                check_api_key(platform_plugin);

                // check data dir stats
                check_data_directory();

                // display notification of change
                if (data.old_platform_plugin !== null && data.old_platform_plugin !== data.platform_plugin) {
                    var message = "Platform changed from '" + data.old_platform_plugin + "' to '" + data.platform_plugin + "'.";
                    bsnotify.success(message);
                }
            }).fail(function(jqXHR, textStatus, errorThrown){
                bsnotify.error(jqXHR.responseText);
            });
            */
        }



        function check_api_key(platform_plugin) {
            if ($login_status.is(":visible"))
                $.getJSON("/api/"+platform_plugin+"/get_user", function(data){
                    $login_status.html("<span class='text-success'>LOGGED IN</span>");
                    $login_info.html("as: "+data.first_name+" "+data.last_name+" ("+data.email+")")
                }).fail(function(jqXHR, textStatus, errorThrown){
                    $login_status.html("<span class='text-danger'>NOT LOGGED IN!</span>");
                    $login_info.html("Set your API KEY in settings and then restart...");
                    var msg = "Unable to authenticate with API key. Check connection and/or API key. ";
                    if (jqXHR.responseJSON.hasOwnProperty("message")) msg += jqXHR.responseJSON.message;
                    bsnotify.error(msg);
                    console.log(jqXHR, textStatus, errorThrown);
                    // if failed, try again in 10s
                    setTimeout(function(){
                        check_api_key($platform_plugin_select.val());
                    },20000);
                });
        }

        function check_data_directory() {
            $.getJSON("/api/filesystem/dirstats?path={{ config.PROJECT_PATH | urlencode }}", function(data){
                $workdir_stats.html(data.ndirs+" directories");
            }).fail(function(jqXHR, textStatus, errorThrown){
                $workdir_stats.html("<span class='text-danger'>ERROR!</span>");
                console.log(jqXHR, textStatus, errorThrown);
            })
        }


        $platform_plugin_select.change(function(){
            $project_list_container.html("Loading...");
            update_platform_plugin($platform_plugin_select.val());
        }).trigger("change");

        $dashboard_container.find("a[rel='gui_warn']").click(link_click_handler.gui_warn);

        //$platform_plugin_select.$platform_select.selectpicker();
    });
</script>
</div>
{#<!--  Charts Plugin -->#}
{#<script src="/static/assets/js/chartist.min.js"></script>#}
