<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#"> Usage Agreement</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            SyncTOOL by <a href="http://greybits.com.au" target="_blank">Greybits Engineering</a>
        </div>
    </div>
{#    HOME_PATH: {{ config.HOME_PATH }}<br>#}
{#    APPLICATION_PATH: {{ config.APPLICATION_PATH }}<br>#}
{#    PROJECT_PATH: {{ config.PROJECT_PATH }}<br>#}
{#    EXECUTABLE_PATH: {{ config.EXECUTABLE_PATH }}<br>#}
{#    USER_CONFIG: {{ config.USER_CONFIG }}<br>#}

</footer>