<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>SyncTOOL</title>

	<!-- Canonical SEO -->
    {#<link rel="canonical" href="https://full/url/of/site/for/seo"/>#}

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

     <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="/static/assets/css/paper-dashboard.css?v=1.2.1.css" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets/css/themify-icons.css" rel="stylesheet">


    <!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
	<script src="/static/assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="/static/assets/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/static/assets/js/perfect-scrollbar.min.js" type="text/javascript"></script>
	<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  local private plugins for project -->
    <link href="/static/assets/css/_synctool.css?v=0.4.4" rel="stylesheet">
    <script src="/static/assets/js/_synctool.js?v=0.4.4"></script>

	<!--  Forms Validations Plugin -->
	<script src="/static/assets/js/jquery.validate.min.js"></script>

	<!-- Promise Library for SweetAlert2 working on IE -->
	<script src="/static/assets/js/es6-promise-auto.min.js"></script>

	<!--  Date Time Picker Plugin is included in this js file -->
    <script src="/static/assets/js/moment.min.js"></script>
	<script src="/static/assets/js/bootstrap-datetimepicker.js"></script>

	<!--  Select Picker Plugin -->
	<script src="/static/assets/js/bootstrap-selectpicker.js"></script>

	<!--  Switch and Tags Input Plugins -->
	<script src="/static/assets/js/bootstrap-switch-tags.js"></script>

	<!--  Notifications Plugin    -->
	<script src="/static/assets/js/bootstrap-notify.js"></script>

	<!-- Sweet Alert 2 plugin -->
	<script src="/static/assets/js/sweetalert2.js"></script>

	<!--  Bootstrap Table Plugin    -->
	<script src="/static/assets/js/bootstrap-table.js"></script>

	<!--  Plugin for DataTables.net  -->
	<script src="/static/assets/js/jquery.datatables.js"></script>

	<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
	<script src="/static/assets/js/paper-dashboard.js?v=1.2.1"></script>

{#    <!-- Google maps -->#}
{#	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSaSxv01RBLnlu5EyBHLs57s-IquPaows"></script>#}
    <!--Leaflet maps-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>

    <!-- Handson table for editable spreadsheet data -->
    <script src="/static/handsontable/dist/moment/moment.js"></script>
    <link rel="stylesheet" href="/static/handsontable/dist/handsontable.full.min.css"/>
    <script src="/static/handsontable/dist/handsontable.full.min.js"></script>
</head>
<body class="sidebar-mini">
{#<body>#}
	<div class="wrapper">
	    {% include "synctool/sidenav.html" %}
        <div class="main-panel">
	        {% include "synctool/topnav.html" %}
	        <div class="content">
	            <div class="container-fluid" id="content">
                    {% include "synctool/dashboard.html" %}
                </div>
	        </div>
			{% include "synctool/footer.html" %}
	    </div>
	</div>
</body>


<script>

    $(document).ready(function(){
        var $main_content_container = $("#content");
        var $navbar = $("#nav-sidebar");
        var $title = $("#page-title");


        $("a[rel='content']").click(function(e){
            e.preventDefault();
            var url = $(this).attr("href");
            var _this = $navbar.find("a[href='"+url+"']");
            $main_content_container.loadcontent(url, {
                success: function(){
                    $navbar.find("li.active").removeClass("active");
                    $(_this).parents("li").addClass("active").parents("li").addClass("active");
                    $title.html($(_this).attr("title"));
                }
            });
            return false;
        });

        // Prevent accidental dragging of links to break nav
        $(document).on("drop dragenter dragover dragleave", function(e){
            e.preventDefault();
            return false;
        });

        /*
        $("a[rel='modal']").click(function(e){
            e.preventDefault();
            var url = $(this).attr("href");
            var modal_options = ($(this).data().hasOwnProperty("options")) ? $(this).data("options") : {};
            console.log(modal_options);

            bsmodal(url, modal_options);
            return false;
        })
        */
    });
</script>

</html>
