<div class="sidebar" data-background-color="brown" data-active-color="danger">
<!--
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->
    <div class="logo" title="Reload/refresh">
        <a href="/" class="simple-text logo-mini">
            <i class="fa fa-refresh"></i>
        </a>
        <a href="/" class="simple-text logo-normal">
            SYNCTOOL
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav" id="nav-sidebar">
            <li class="active">
                <a href='/ui/synctool/dashboard.html' rel="content" title="My Data">
                    <i class="ti-folder"></i>
                    <p>My Data</p>
                </a>
            </li>
            <li>
                <a href="/ui/synctool/pages/settings.html" rel="content" title="Settings">
                    <i class="ti-settings"></i> <p> Settings</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href='#nav-info' aria-expanded="true">
                    <i class="ti-info-alt"></i>
                    <p>Info <b class="caret"></b></p>
                </a>
                <div class="collapse in" id="nav-info">
                    <ul class="nav">
                        <li>
                            <a href='/ui/synctool/pages/about.html' rel="content" title="About">
                                <span class="sidebar-mini"><i class="ti-info"></i> </span>
                                <span class="sidebar-normal">About</span>
                            </a>
                        </li>
                        <li>
                            <a href='/ui/synctool/pages/help.html' rel="content" title="Help">
                                <span class="sidebar-mini"><i class="ti-help"></i></span>
                                <span class="sidebar-normal">Help</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#nav-online-data" aria-expanded="true">
                    <i class="ti-link"></i> <p>Platform Links <b class="caret"></b> </p>
                </a>
                <div class="collapse in" id="nav-online-data">
                    <ul class="nav">
                        {% for p in config.PLATFORM_PLUGINS.keys() %}
                            <li><a href="{{ config.PLATFORM_PLUGINS[p].host_url }}" target="_blank">
                                <span class="sidebar-mini">{{ config.PLATFORM_PLUGINS[p].name|first }}</span>
                                <span class="sidebar-normal">{{ config.PLATFORM_PLUGINS[p].name }} <b class="ti-new-window pull-right"></b></span>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>