    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-menu-alt"></i></button>
{#                <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>#}
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" id="page-title" style="text-transform: uppercase">My Data</span>
{#                <a class="navbar-brand" href="#" id="page-title">Welcome</a> <a class="navbar-brand subsection" href="#" id="page-title">Welcome</a>#}
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
{#                    <li class="dropdown">#}
{#                        <a href="#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown">#}
{#                            <i class="ti-bell"></i>#}
{#                            <span class="notification">2</span> <p class="hidden-md hidden-lg">Notifications<b class="caret"></b></p>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu" style="width: 300px">#}
{#                            <li><a href="#"> Uploading to GlobalArchive#}
{#                                <div class="progress">#}
{#                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">#}
{#                                        <span class="sr-only">60% Complete</span>#}
{#                                    </div>#}
{#                                </div></a>#}
{#                            </li>#}
{#                            <li><a href="#">Checking local files#}
{#                                <div class="progress">#}
{#                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">#}
{#                                        <span class="sr-only">80% Complete</span>#}
{#                                    </div>#}
{#                                </div></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li>
                        <a href='/ui/synctool/pages/help.html' rel="content" class="btn-magnify" title="Help">
                            <i class="ti-help-alt"></i> <p class="hidden-md hidden-lg">Help </p>
                        </a>
                    </li>
                    <li>
                        <a href="/ui/synctool/pages/settings.html" rel="content" class="btn-rotate" title="Settings">
                            <i class="ti-settings"></i> <p class="hidden-md hidden-lg">Settings </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>