<div class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">What's this all about?</h4>
{#            <p class="category">What is this for and how do I use it?</p>#}
        </div>
        <div class="card-content">
           <p>
               This is a tool for streamlining the preparation and processing of data to online cloud-based data repositories.
               It can help with checking, validating and creating metadata, organising your imagery and making sure that
               everything is consistent prior to upload. It provides tools that help to identify problems
               and tools that make it easier to fix them.
           </p>
            <p class="text-error">
                <b>TODO:</b> Flesh this page out with pretty pictures and more info
            </p>
        </div>
    </div>
    </div>
</div>