<div class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Howtos &amp; FAQs</h4>
{#            <p class="category">What is this for and how do I use it?</p>#}
        </div>
        <div class="card-content">
           <p>
               <i class="fa fa-exclamation-triangle"></i> This section will include help information.
           </p>
        </div>
    </div>
    </div>
</div>