<div id="settings-{{ ts }}" class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Configure options below</h4>
{#            <p class="category">What is this for and how do I use it?</p>#}
        </div>
        <div class="card-content">
           <p class="text-danger">
               <i class="fa fa-exclamation-triangle"></i> Under construction: this section will contain a GUI for
               editing settings with error checking. For now, use the options below to edit manually (<b>WITH CARE!</b>).
           </p>

            <hr>
            <p>
                <a class="btn btn-fill btn-xs btn-square btn-info" href="/open/file?path={{ config.USER_CONFIG | urlencode }}&_={{ ts }}" rel="gui_warn"><i class="fa fa-gear"></i> EDIT SETTINGS</a>
                open in your default .json file editor<br><br>
                <a class="btn btn-fill btn-xs btn-square btn-success" href="/settings/reload" rel="bgprocess"><i class="fa fa-refresh"></i> RELOAD SETTINGS</a>
                reload setting file once changes are saved.<br>
            </p>
            <hr>
<a href="javascript:void(0)" onclick="$(this).siblings('pre').toggle()"><i class="fa fa-gear"></i> Show/hide all available settings (advanced)</a>
<pre style="display: none;">
{{ config | topjson }}
</pre>
        </div>
    </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var $container = $("#settings-{{ ts }}");
        $container.find("a[rel='bgprocess']").data("success", function(){
            bsnotify.success($(this).text()+" was completed successfully!");
        })
    });
</script>