<div class="row" id="browse-container-{{ ts }}">
    <div class="col-md-12">
        <div class="card">
            <div class="alert alert-danger">
                <h3><i class="ti-alert"></i> Not implemented yet...</h3>
                <p>The plugin for this platform is still under construction.</p>
                <p>Please select a different online platform.</p>
            </div>
        </div>
    </div>
</div>